[2021-10-28 12:01] eestrado opened #370 "Release 2021.4.2.0 does not import basepoint from IFC"
Previously in version 2021.2.1.0 when I link in an IFC it will have the correct basepoint from where I exported it. Now with the latest version it does not. When I open the resulting ifc.RVT file I see that the Project Base Point coordinates are 0 thus I cannot link on base points.

[2021-11-02 11:59] SergejMuhic commented on #369
Thanks. I guess we have to look into overwriting this value with shared parameters. I will leave the issue open and report on our findings.

[2021-11-04 20:31] pobr1 opened #371 "IFC hierarchy for floor sub-elements"
I have found what I think is a bug introduced after 21.1.0.0 for IFC4 export (and I think a bit earlier for IFC2x3 export) and it relates to exporting floors that have had their subelements modified in Revit (all versions).

The image below shows the same model exported using two different versions of the IFC exporter (21.1.0.0 and 21.4.2.0).  The later version shows the triangulated sub-elements

[2021-11-04 20:32] pobr1 commented on #371
And here are the IFC files exported using three different versions of the IFC exporter.  Only the first one 21.1.0.0 gives the desired output.

[IFC Bug Unterteiling.zip](https://github.com/Autodesk/revit-ifc/files/7478303/IFC.Bug.Unterteiling.zip)

[2021-11-05 06:11] Moult opened #372 "Not possible to set an import map classing using a userdefined"
Given an IFC with a predefined type of USERDEFINED and object type of "FOOBAR", it seems that it is not possible to set the class mappings during import time to specifically select "FOOBAR", we can only select "USERDEFINED".

[2021-11-05 09:23] HL-code commented on #112
Tested 2022. Still issue.

![FittingColor](https://user-images.githubusercontent.com/68648654/140488029-4b8c7b6b-260f-4f07-9454-599c1dbaca00.png)

[2021-11-05 13:21] HL-code opened #373 "Pipe/Duct Fittings material bug"
In Revit you normally use the same Duct and Fitting types for different system types like "Supply Air" and "Return Air".
"Supply Air" one color and "Return Air" another color.
In the bottom picture blue is Supply an orange is Return.

And system types are  inherited from the equipment connectors.
So it wouldnt make sense to separate ducts and fitting types by systemtype in Revit.

The color of fit

[2021-11-05 14:04] parrela commented on #371
Hi - I will take a look. Can you attach that .RVT  model so i can reproduce it? thanks.

[2021-11-08 19:13] pobr1 commented on #371
Thanks @parrela.
I have emailed you the Revit model directly.
Please let me know if I can assist any further.

[2021-11-09 10:19] EvdB1975 opened #374 "Decomposition relationship between nested shared family and it's partent"
The relationship between a nested shared family and it's parent family isn't set.

[2021-11-09 13:47] parrela commented on #371
@pobr1 I don't see it in my email...

[2021-11-09 21:09] pobr1 commented on #371
Then I will just upload it here then instead.
I have removed almost everything from the file except one of the floors that is creating a problem.
I hope this helps identify a potential bug and am more than happy to help provide any further information that you may require.

Thanks.

[Floor_subelements_bug-RVT2021.zip](https://github.com/Autodesk/revit-ifc/files/7507985/Floor_subelements_bug-RVT202

[2021-11-10 13:48] DanielHurtubise opened #375 "Graphical issue in the UI"
The export UI is unreadable for me
![image](https://user-images.githubusercontent.com/4299930/141124280-19553079-f9de-4e2c-90fd-2626ee77d05a.png)
I am not using any Windows Scaling or funny resolution
![image](https://user-images.githubusercontent.com/4299930/141124731-dcff2482-ce8b-4612-b7f8-6462f67cac15.png)

[2021-11-10 23:04] mortenmr opened #376 "GUI suggestion"
Two annoying settings, that could be vastly improved if included into the IFC Export GUI:

1. Why do we have to go into the Revit.ini file in order to change IFC Layer standards? This is a ridiculous workaround, and very inconvenient as it has to been done per user, per workstation.
2. Setting the IFC Class mapping table based on Revit instance is also very inconvenient if you switch between diffe

[2021-11-11 00:48] AngelVelezSosa commented on #376
These are good suggestions and we will be incorporating them into some UI renovations we are currently planning.

[2021-11-22 06:34] Moult opened #378 "Why are GlobalIds not unique?"
For example, on a sample of 6 architectural Revit models on the same project (and therefore 6 IFC files), I found 2,578 duplicate GlobalIDs across elements from a total of 1,898,180 rooted elements. This is a duplication rate of 0.136% which is pretty severe.

This is creating lots of problems with linking to other systems. I have to resort to all sorts of tricks to regenerate and map changed Glob

[2021-11-22 14:06] AngelVelezSosa commented on #378
Hi Dion,

1.  You should never - at least for several years - have _one_ IFC file with repeated GlobalIDs.  Definitely report that if it ever happens.
2. You can trivially create a duplicated GlobalId by doing the following:
     a. Create a new project with a wall in it.
     b.  Save it.
     c.  Export it.
     d.  Copy the original file.
     e.  Open it.
     f.   Export it.

If you copy a fi

[2021-11-22 22:29] Moult commented on #378
Yes, I am talking about duplicates across multiple IFCs.

The projects I'm seeing these on are typically large complex federated projects - so it is very common that a user will start off with a template, or halfway through a project, duplicate the file and split it into two files, so your second explanation is probably the culprit. So the most common duplicates are say 80 IfcBuildingStoreys, but

[2021-11-22 22:41] AngelVelezSosa commented on #378
In this case, I don't think files are necessary - it is certainly the case I described above.  Obviously we don't want an element's GUID to change because the name changed, or really any other characteristic.  It does beg the existential question : If I have Level 1 at 0m, and rename it to Level 2 at 3m, is it the same element or a new element?

Another issue is compatibility.  We could change how

[2021-11-22 22:45] Moult commented on #378
Agreed it isn't straightforward. The user needs to have the choice to say whether it is the same or new element. What about the Rels, Groups, and Properties? Does the user have any control over that?

I'm not sure I agree with the base IFC GUID - I've been a proponent of using uuid v4, and it's always been a huge irk how Revit uses things like magic numbers and the GUIDs look almost sequential.

I

[2021-11-22 22:49] Moult commented on #378
I've edited the bug name to better reflect the issue.

Note that for the record, I've also experienced two other types of issues. When users have the "Store GlobalID in an element parameter" checked when exporting, then sometimes, I've noticed that this sometimes gets overwritten with nonsensical data, or, with an expanded base 16 uuid. I've questioned the authors of these files, and they have no

[2021-11-22 22:59] AngelVelezSosa commented on #378
1. We have a new GUID generation routine that can create better guids, but we are only going to be using it for GUIDs that are currently not unique, because we don't want to break compatibility.  Perhaps when that is finalized, we could have a toggle to choose old meh GUIDs vs. new better GUIDs.  Even with the new ones, it would still be based on _some_ document based guideline.  Element id 9948 a

[2021-11-22 23:02] Moult commented on #378
Thanks for all the explanations! I'll pay extra attention to the third in case it happens again.

[2021-11-23 10:58] Teun1 opened #379 "not able to export"
We are testing a VDI environment. And a Revit 2022 project could be exported on my local computer but not in the VDI environment.
They have the same exporter version v22.2.1.0 (not the latest I know - but they are the same) The VDI has the latest Revit2022 update and my local has not. So that could be the case.
But I am wondering if there are other critical aspects that would prevent an IFC export

[2021-11-23 13:43] AngelVelezSosa commented on #379
The first thing to do is really to get both to the same level.  There were incompatibilities between Revit 2022.1 and the open source that were caused by the upgrade to ODA that really require the latest version of the exporter (or the OOTB version).  These should all be resolved now with Revit 2022.1.1 and v22.4 of the toolkit, but there are more mix-and-match issues this release because of the t

[2021-11-23 20:10] Teun1 commented on #379
Thanks for the reply. I will update these as soon as i can. And test it again.

[2021-11-25 03:35] Moult opened #380 "Can I link IFC files programmatically using the API?"
Is it possible to link an IFC programmatically? Such that I can run it via a macro? I'd like to link a bunch of IFCs in bulk.

I saw some hints in the API docs that suggest it might be possible, and made a start, but I haven't begun to code dive and decided to ask first in case there was a simple example I was missing. This code snippet runs without errors and creates an IFC link but does not seem

[2021-11-25 03:50] Moult opened #381 "IFC meshing is bloated: can meshing be better optimised, especially where fillets occur?"
In any extruded profile where there is a fillet, when exported to IFC where Revit converts it either to a FacetedBrep or to a IfcPolygonalFaceSet, it seems as though the meshing process creates rather bizzarre, bloated meshes. This is described in full here: https://wiki.osarch.org/index.php?title=Revit_and_IFC_Geometry - but for end users, this means that export times grow out of control, IFC fil

[2021-11-25 18:04] samagior opened #382 "Revit Crash"
Hi,

I was looking for the IFC 2022 extension on apps.exchange but couldn't find it there so I end up here.

After installing the .msi file I can no longer use the IFC export tool from Revit. Everytime I try Revit seem to be loading a while then close without warning.

Not sure if it's really an issue or maybe I got something wrong...

Any help would be appreciated! ;)

[2021-11-25 22:51] Moult opened #383 "Is there an easy way for users to select by GlobalId?"
Right now, it seems they either need to use a third party add-on or use a schedule to select an element by its IFC GlobalId, and that's only if the GlobalId was exported and stored in a parameter (which many users don't enable that setting).

It would be great if there were a way to easily select by GlobalId without the need to export (after all, it's just the DWFID + ElementId with a bit of massa

[2021-11-26 11:28] BIMLUND commented on #348
Is this an issue that will be addressed?

[2021-11-29 09:51] brunnefa opened #384 "IfcSite elevation import problems"
As a Autodesk Partner Supporter, i currently get a lot of Problems with the IfcSite elevation in the newest Ifc2022/IFC2021 App. When importing an IFC with an elevation in IfcSite the model gets an additional elevation. However the IFC Building storeys are still on elevation 0. This was never a problem before and a total different behavior. The workaround of setting the Elevation in the Texteditor

[2021-11-29 10:26] rolfarchi commented on #384
Hello everyone,

I sent the serious error "height problem" on 11/23/2021 with an Ifc test file directly to 'angel.velez@autodesk.com'.
Answer angel.velez: "We will look into this to see what’s going on."

The last working version is IFC.for.Revit.2022.2.1.0.

A manipulation of the data (elevation) in the Ifc file cannot be the solution.

The bug in the Ifc importer has to be fixed shortly.

Best r

[2021-12-01 14:48] eibre opened #387 "IFC Scalability Improvements available in Open Source version? (ODA SDK)"
Is the improvements mentioned [here ](https://knowledge.autodesk.com/support/revit/learn-explore/caas/CloudHelp/cloudhelp/2022/ENU/Revit-WhatsNew/files/GUID-19C4F8E4-7F92-402A-9133-04A252D09020-htm.html) included in the open source version of IFC export? It mentions ODA SDK

[2021-12-01 15:42] AngelVelezSosa commented on #387
The latest version of the open source is compatible with Revit 2022.1.X, which use the ODA toolkit.  The ODA toolkit did have some obscure regressions that we will try to incorporate into the open source to work around until newer versions of the toolkit (and Revit) are available.

[2021-12-01 15:42] #387 closed

[2021-12-01 18:45] Teun1 commented on #379
The updates did work. Thanks again.

[2021-12-01 18:45] #379 closed

[2021-12-01 20:00] SIAARDK opened #388 "Door Operation - Defining the Y-axe direction"
Ifc Door Type Operation is defined here:
https://standards.buildingsmart.org/IFC/RELEASE/IFC4/ADD2_TC1/HTML/link/ifcdoortypeoperationenum.htm

My finding in Revit is that Y-axe is pointing to Exterior

![image](https://user-images.githubusercontent.com/95360767/144303533-e653583e-55b2-48c3-a0c5-49dd6a78e7be.png)

Having both Inward and Outward doors which is have the same relation to Exterior and

[2021-12-01 20:06] AngelVelezSosa commented on #388
This is a long-standing issue that we need to create the proper UI to allow you to set some IFC parameter so that we don't have to guess, sometimes incorrectly.

[2021-12-01 20:15] SIAARDK commented on #388
Thanks for your very fast reply @AngelVelezSosa
First - are my findings regarding the Y-axe incorrect - or was this just a general note :-)
Second - Do I read - make the doors so it works for me in Revit and in a near future, the IFC export setup can be manage better, so correct Door Type Operation can be made.

[2021-12-01 20:17] AngelVelezSosa commented on #388
First - I am not 100% certain but it seems like an issue that's been around for a while in trying to figure out the orientation of a door based on its sketch for export.  Short term - you'll have to create your doors in the orientation that works for IFC.  Longer term we are improving the IFC experience in Revit and I'd include letting you help us get this right in the UI as part of that.

[2021-12-02 15:17] SergejMuhic commented on #369
Nothing to report here. Have not found anything.

[2021-12-02 15:17] #369 closed

[2021-12-02 15:54] silverglow opened #389 "Error if Export base quantities is checked"
Whenever I try to export a model with the **Export base quantities** option checked (in Property Sets tab), I get an error and the export stops: model is too big, suggesting to use filters or the export current view only. I tried with a basic model with only one wall, so it's definetely not the case.
Is there any other aspect to set to export base quantities?
I'm using Revit 2022 - Exporter v. 22.

[2021-12-02 16:03] AngelVelezSosa commented on #389
Please try again with the latest version - v22.4 - and see if that fixes the issue.  There were definitely some API incompatibilities between the old and new toolkits.

[2021-12-02 16:11] silverglow commented on #389
ok: v. 22.4 solved the error.

[2021-12-02 16:11] #389 closed

[2021-12-02 16:26] duffra opened #390 "IFC 4.1 4.2 available classes fot the IFC mapping options"
Hi, in the Improvement section I see: "Added additional generic support for IFC4.x files for 2022.1. (Added entities represented in schemas:IFC2x, IFC4x, IFC4x2, IFC4x3)."
Is there any list of the available entities supported during the export? Using some new Entities from the IFC 4.2 Buildingsmart Documentation (for example the infrastructural entities) in the Revit mapping option, it results in

[2021-12-03 02:31] Moult opened #391 "Dealing with duplicate IfcExportAs parameters"
I'm dealing with files where, perhaps due to lots of copy pasting of a shared parameters files, there are many duplicate project parameters all with the same name "IfcExportAs". It is not obvious to the user which of these parameters actually are used during the export process.

It also runs the risk of users deleting the wrong IfcExportAs parameter and losing a huge amount of work doing IFC class

[2021-12-03 04:26] AngelVelezSosa commented on #391
Our IFC roadmap includes getting rid of the magic IfcExportAs parameter and replacing it with a built-in parameter to avoid this sort of issue.  I do have a question about how upgrade should work.  Currently, the intention is that the new built-in parameter would get the value of the old IfcExportAs parameter on upgrade, but that we wouldn't delete the shared parameter, since it could be used for

[2021-12-03 13:49] JOuellette-Autodesk commented on #390
Being IFC4.2 is not officially supported by buildingSMART International (withdrawn - see https://technical.buildingsmart.org/standards/ifc/ifc-schema-specifications/), the logical support would be IFC2.3.0.1, IFC4.0.2.1, and IFC4.3.x.

And yes, we are aware of the documentation need.

[2021-12-06 11:59] AimoNilsen commented on #382
Hi, have a customer with this same problem. Have you found a solution?
Happens in all project also new ones with only one wall.

[2021-12-06 16:24] JOuellette-Autodesk commented on #374
Can you be more specific about what you are expecting?
Can you show an example(s)?
What version are you working in?

[2021-12-06 16:25] JOuellette-Autodesk commented on #373
What version of Revit and IFC tool are you using?

[2021-12-06 17:07] JOuellette-Autodesk commented on #359
Hi @Moult.

Can you indicate the version of Revit and open source IFC tool?
Also, is this exporting from Revit or importing (Open or Link) into Revit?

[2021-12-06 17:09] JOuellette-Autodesk commented on #358
@Moult Can you indicate Revit and open source tool versions?

[2021-12-06 17:15] JOuellette-Autodesk commented on #355
@SergejMuhic Can you indicate Revit and open source tool versions?

[2021-12-06 17:18] JOuellette-Autodesk commented on #352
Do you wish to export the Tag in the IFC file as a visible element?

Can you specify the Revit and open source tool versions?

[2021-12-06 21:52] Moult commented on #358
Revit 2021, version 21.2.1.0.

[2021-12-06 21:52] Moult commented on #359
Revit 2021, version 21.2.1.0.

This is linking into Revit.

[2021-12-06 21:57] Moult commented on #358
We are now publishing and requiring all of our Revit consultants who are receiving IFCs from ArchiCAD to run this patch: https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.7.0/src/ifcpatch/ifcpatch/recipes/FixArchiCADToRevitDoorSwings.py

This involves a training session for consultants and a whole bunch of jargon they probably didn't want to get involved with in the first place, but is necessar

[2021-12-06 21:57] Moult commented on #359
We are now publishing and requiring all of our Revit consultants who are receiving IFCs from ArchiCAD to run this patch: https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.7.0/src/ifcpatch/ifcpatch/recipes/FixArchiCADToRevitDoorSwings.py

This involves a training session for consultants and a whole bunch of jargon they probably didn't want to get involved with in the first place, but is necessar

[2021-12-06 22:04] Moult commented on #391
Fantastic! Getting rid of it in favour of a built in one is a great solution.

Agree with the intention to inherit the old IfcExportAs parameter on upgrade, but don't delete the parameter, and please delete the references to it in the code. Right now there are so many fallbacks that can change the outcome that users have the follow a complex decision tree or do test exports to see what happens.

D

[2021-12-06 22:13] Moult opened #392 "IfcExportAs doesn't seem to be exported as a regular pset"
There are 8 convoluted rules that determine which IFC class an object is exported out of Revit that we've documented here: https://wiki.osarch.org/index.php?title=Revit_and_IFC_classes

These 8 rules (of which there are probably more details I haven't yet discovered) mean that often although we provide very detailed instructions to consultants on how to export IFC classes, the IFC classes is still

[2021-12-07 11:09] EvdB1975 commented on #374
Sure.

In Revit it is possible to make a family which encloses several shared other families (aka nested families). For instance a door family which can contain a nested shared family for: a door leaf, a doorframe and a door closer.

When exported to Ifc these turns out as separate object with nothing showing a relationship between these objects (which is strange because there clearly is one).

If

[2021-12-07 16:15] AngelVelezSosa commented on #392
The IFC Parameters property group is specially excluded from the exported psets because anything in this property group should show up somewhere else.  There's no actual need that IfcExportAs be in the IFC Parameters group, however.  If you definitely wanted it to show up, you could group it under the Identity data, for example.
As mentioned before, though, we are improving the way this parameter

[2021-12-07 16:16] AngelVelezSosa commented on #391
OK, good, that was also my thought.  Other thoughts are also welcome.

[2021-12-07 21:37] AngelVelezSosa commented on #382
You need to be on v22.4 to have compatibility with Revit 2022.X.X because of differences between the old IFC toolkit and the new one introduced in Revit 2022.1.  Please upgrade to that and let us know if there are still issues.

[2021-12-07 21:50] samagior commented on #382
@AngelVelezSosa Thank you for the reply; I already was on v2022.4 running on Revit 2022.1.1.

@AimoNilsen No solution yet, I simply uninstall it for now waiting for official release on the Autodesk store :/

[2021-12-08 04:07] AngelVelezSosa commented on #382
The Github release is still the official release.  I'd say something went wrong with the install; Revit 2022.1.1 and v2022.4 work together.

[2021-12-08 11:00] AimoNilsen commented on #382
@AngelVelezSosa @samagior
Solved it, but the solution was a little “strange”.
First uninstalled the IFC update, installed 2022.1.1 and installed the IFC v2022.4
Restarted computer and still not did work.

Then I moved all Addins to another folder
From Both: (Customer had Endscape in the last folder)
C:\ProgramData\Autodesk\Revit\Addins\2022
C:\Users\%USERNAME%\AppData\Roaming\Autodesk\Revit\Addins

[2021-12-08 21:59] samagior commented on #382
@AimoNilsen @AngelVelezSosa

Thank you both,

Aimo solution did the trick for me too, kind of weird... ;)

I Also discovered that one of my add-in was making a weird glitch occurring with the text in the IFC export window as seen below:

![Screenshot 2021-12-08 16 51 58](https://user-images.githubusercontent.com/82835169/145290789-83b60636-1580-4fc8-97fd-2f7855d28d44.png)

[2021-12-08 22:13] AngelVelezSosa commented on #382
Glad that's resolved now!

[2021-12-08 22:13] #382 closed

[2021-12-13 05:25] Wouter-MD commented on #352
no that not what i mean,

I want to tag a linked IFC in Revit
I need the room/space info for making calculations

[2021-12-13 14:28] AngelVelezSosa commented on #352
You can't make a room tag because the IFC spaces don't become Revit rooms - they are generic models with the 3D information and parameters.  Converting them into rooms, at least as an option, is on our roadmap.

[2021-12-13 14:35] lejla-adsk commented on #352
Check out this LinkedIn Post - a customer just shared an opensource tool which can be used to generative rooms from an IFC file. This creates a Revit model with rooms only, which then can be linked and tagged.
https://www.linkedin.com/feed/update/urn:li:activity:6876158523613433856

From: AngelVelezSosa ***@***.***>
Reply to: Autodesk/revit-ifc ***@***.***>
Date: Monday, 13. December 2021 at 15:28

[2021-12-13 15:52] rolfarchi commented on #352
Hello Leijla,

unfortunately the link to the tool cannot be opened.

Please call again.

Best regards

Rolf

[2021-12-13 16:02] lejla-adsk commented on #352
Hi Rolf, I removed the signature which messed up my post - the LinkedIn link left is working on my side and is pointing you directly to the article!
Best, Lejla

[2021-12-13 16:09] rolfarchi commented on #352
Hello Lejla,

Unfortunately no change for me (the link has not changed either):
The post cannot be viewed.

Is the contribution from a protected area?

Best regards

Rolf

[2021-12-13 16:17] lejla-adsk commented on #352
Hi Rolf,
I guess you need to be logged in (it's posted in the "Revit Users" group)
Anyway, here the direct links to the resources:

Youtube Video: https://www.youtube.com/watch?v=4QLh4xoo99A
Github: https://github.com/agnBIM/ifc2room

Best, Lejla

[2021-12-14 06:22] Teun1 commented on #374
I also want this behavior to change.
The exporter works as expected with model groups, assemblies and also with e.g. area types. But not with nested shared families.
For now, use (generated and or temporary) model groups. Or agree with the whole team for a specific parameter to be filled with 1 unique code for all the nested parts.

[2021-12-14 06:54] Wouter-MD commented on #352
Hi Lejla,

Thanks for te Links
work it with all IFC files it doesn't have to be just from archicad

yesterday i talked to Graphisoft they also have a plugin for revit which has a similar function.
only I know I haven't used their software on another architect's IFC that doesn't use arcicad

Here below stands the link form Graphisoft
https://graphisoft.com/downloads/interoperability

[2021-12-14 08:49] JoepvanMotman opened #393 "Revit IFC export Roofs volume"
Revit cannot properly export the volumes of slanted roofs to IFC. When you export a slanted roof to IFC, several sub-roofs are created. But in the Base Quantations of these sub-roofs the quantities of the main roof are shown. This leads to large errors in the quantities for material passports and such.

[2021-12-14 14:51] AngelVelezSosa commented on #393
I'll file an item for this specific issue, that when splitting an entity on export, the split items should not inherit calculated values such as surface area and volume.

[2021-12-14 16:48] JoepvanMotman commented on #393
I think we have to conclude that Revit is not yet far enough to calculate volumes properly. After a little more research I find out that only IfcSlabs get a Volume and IfcRoofs don't. I don't think this is desirable at all, but okay. So you need the IfcSlabs to retrieve a vulume from a roof. However, as soon as an opening is made or when a roof is not exactly symmetrical, the sub-components (IfcSl

[2021-12-20 01:12] RikMcKenzie opened #394 "Wall geometry error at intersection with door adjacent"
When three walls and a door intersect (as shown below) the IFC file is then missing geometry at the meeting point.

The intersection in Revit floor plan view.
![image](https://user-images.githubusercontent.com/96397022/146697903-7ed3eefd-b16f-41d8-b61b-f2445c0eb451.png)

The intersection in Revit 3D view.
![image](https://user-images.githubusercontent.com/96397022/146698059-5809476f-9594-45bc-b7ff

[2021-12-20 02:29] RikMcKenzie commented on #394
Trying alternative walls we see the same issue present in a different way.

Here, the core layers of the walling matches up however the configuration of the join can dictate the success or failure of the geometry translation into IFC.
![image](https://user-images.githubusercontent.com/96397022/146702867-768b57d9-cb38-4965-8041-42902c673bf5.png)

In this configuration, the same issues occur.
![imag

[2021-12-20 03:25] Moult opened #395 "Revit exports invalid IfcFurnitureType"
The AssemblyPlace attribute is mandatory but Revit seems to leave it blank instead of choosing a default like NOTDEFINED.

[2021-12-20 10:36] tcosse commented on #154
Yes, this would be very useful.

[2021-12-21 23:46] ShaneBSitu commented on #394
I've done some looking into the issue already, and I've not found the solution but this might be useful:
The problem geometry can be revealed in a given wall by splitting the wall into it's parts.
![image](https://user-images.githubusercontent.com/81538403/147009063-37e61829-a39f-400a-802a-5bf217baf051.png)

Looking into WallExporter.cs, we see from lines 701-709:
[code]

Which will create the pro

[2021-12-22 10:06] Teun1 opened #396 "Materials in IFC difference between IFCVersions"
Is there a reason why the IFC4 Reference View export does not seem to include materials while exporting a wall with layers in Revit.
But it does include layer materials and all the widths in the Base Quantity tab. The Design Transfer version seems to be the opposite.
Is this a BuildingSmart requirement that Iám not aware off?
Somehow I also expect a IFCMATERIALLAYERSET but there is a IFCMATERIALCO

[2021-12-22 18:44] Teun1 opened #397 "Incorrect IFC export while using the Revit API"
There seem to be some bugs and / or unexpected behavior while exporting to IFC based on the Revit API.
While exporting manually with the latest exporter and the latest Revit version everything seems oké. Besides that the file size seems to be 3x as big as the former version. But if we use an automated way, things go wrong.

Based on https://www.revitapidocs.com/2022/03f1bce3-dd39-9deb-c732-db82474

[2021-12-23 09:17] Teun1 commented on #397
Update.  (but still not working)
It's not the site placement - tested all 4
It's not the relative position to point zero - same behavior when troubled object are completly in the 1th quadrant

I have tested the following options (not all combinations of course) but no improvements
ExportSolidModelRep, UseOnlyTriangulation, ExportPartsAsBuildingElements, UseActiveViewGeometry

I have tried making p

[2021-12-23 10:29] Teun1 opened #398 "properties of exported nested Wall Sweeps"
When exporting Walls with nested Wall Sweeps to IFC. The nested Wall Sweeps become IfcBuildingElementProxy objects without infomation and their Id as a Reference. They also clash with their original host Wall.

When exporting with the IFC4 Reference View option. All Walls layers become IFC Building Element Parts in the IFC. These layers are grouped and found under the host IfcWall. And have a name

[2021-12-28 14:59] CaptKrunch001 opened #399 "Error when exporting a flat roof"
If a roof is exported with zero slope, the roof gets a wrong thickness in IFC and the layers overlap.
If the roof is given a slope via a point and one of the roof layers is marked as variable, the export works again.

Tested in Revit 2022 with IFC-Exporter 22.4.0.0

![grafik](https://user-images.githubusercontent.com/82499876/147578429-465246b5-bf2f-4380-b048-33cced27c6c7.png)

[2022-01-04 13:21] FAIR59 commented on #137
reviving this old issue. We recently encountered the same problem again. So I decided to dive into the code, to isolate the problem. With a test file , I noticed that the opening in the ifcWindows geometry doesn't rotate.
![image](https://user-images.githubusercontent.com/54148586/148064265-5a80c291-94fe-444f-a7f3-d8c31df91ca0.png)
In the FamilyInstanceExporter.cs file, the opening(s) in the IfcCo

[2022-01-05 11:48] mathib opened #400 "Revit 2022 and separate IFC addon"
Hi,

I used the [IFC addon for Revit](https://apps.autodesk.com/RVT/EN/LIST/SEARCH?PRODUCTLINE=RVT&QUERY=IFC) in the past for older versions of Revit such as 2016-2017, but I wondered if it is still necessary to install such an addon for the newest Revit 2022.1.1 version?

I noticed that an IFC addon for Revit 2022 is missing from the app store, so I started wondering if it's now included in Revit

[2022-01-11 19:04] tcosse commented on #112
Resolving this would be of much help

[2022-01-12 16:30] GunnarSchwertner commented on #382
Thank you for pointing in that direction.
I found out in our case it was probably Enscape 3.2.0.62705 that caused the error.

The solution for us was to move the file 0_Enscape.addin to another folder. Start Revit do an IFC-export, and close Revit.
Move the file back again, and the IFC-export still works.
We had to do it for all the Revit-versions where IFC-Export did not work.
The file is in the

[2022-01-12 16:47] AngelVelezSosa commented on #382
@GunnarSchwertner : is this something that started happening with a new version of Enscape?  I've been hearing some anecdotal reports of this and am trying to figure out if I can narrow down the issue.

[2022-01-12 17:32] GunnarSchwertner commented on #382
@AngelVelezSosa : I am quite sure about that it has to do with the version mentioned above. I got that installed on my computer 2021-12-21 and all "0_Enscape.addins" have "last changed date" 2021-12-21. I know that I have been able to do IFC-Exports earlier.
First I thought it had to do with the Revit 2022 install I did 2022-01-03 and the IFC-Exporter 22.4.0.0, but when we installed two computers

[2022-01-12 18:29] AngelVelezSosa commented on #382
OK, thanks for that detailed report.  We may need to contact Enscape once we figure out what's going on.  You may also want to contact Enscape to let them know if you haven't already.  Feel free to cc me in any email: angel.velez at autodesk dot com.

[2022-01-13 07:17] GunnarSchwertner commented on #382
You’re welcome!
I will contact Enscape and let them know what I know so far.

Kind Regards,

Gunnar Schwertner

***@***.***

Direct +46 8 412 53 08
Mobile +46 733 23 26 16
***@***.******@***.***>
www.tengbom.se<http://www.tengbom.se/>

Från: AngelVelezSosa ***@***.***>
Skickat: den 12 januari 2022 19:29
Till: Autodesk/revit-ifc ***@***.***>
Kopia: Gunnar Schwertner ***@***.***>; Mention ***@***.**

[2022-01-13 15:08] AngelVelezSosa commented on #382
Anecdotal findings so far indicate that this may specifically be an issue with Enscape 3.2 and not previous versions.

[2022-01-13 15:32] GunnarSchwertner commented on #382
Yes I believe that too. Because it started for us after install of 3.2.
By the way, I have sent the information to Enscape, but not got any response about any fix.

[2022-01-14 11:56] nockdown commented on #311
We are experiencing such extremely inconsistent export times in Revit too.
We've also tried to find any dependence, but there isn't any result.

[2022-01-14 12:38] tsolsen commented on #391
Wondering how this will play out, implementation wise? Would seam like a good idea, to stay as close as possible, to the BS naming af the parameters, to make the logic more obvious to the end user.

Now when looking at new parameters, I'd expect them to be lookup style parameters, ala Assembly Code (or even better, ARCHICAD style classification, so a new parameter type). This would certainly ease

[2022-01-17 09:45] tigerawr commented on #382
I'll add to the anecdotal evidence.
Experienced crash upon clicking IFC export.
Completely reinstalled revit and removed everything from addins.
Reinstalled latest IFC (.4)
Problem remained.
I uninstalled Enscape completely, and now it works.

[2022-01-20 05:09] ShaneBSitu commented on #394
Addendum to the above:
I have found another geometry bug which is similar to the missing wall geometry above. In this case, the walls are not being cut by window voids, meaning there is wall geometry where windows should be. Like the above bug, this only occurs when CreateParts is called.

![image](https://user-images.githubusercontent.com/81538403/150274801-1ddda8bb-978f-41fa-8d61-d97e4e99b117.pn

[2022-01-20 05:20] RikMcKenzie commented on #394
Wall intersections all seem to function differently when exported from Revit to IFC.

In many cases where walls are identical on either side, different errors occur.

Here is a great example:
Corners 1 & 2 are exact mirrors of one another.
Both contain 90deg intersections with identical wall types.
Both contain the same windows at the same spacing from the intersection on either side.
![](https://

[2022-01-20 10:55] AlexSchleicher opened #401 "IfcDescription not exported for IfcOpenings in Slabs"
The Description parameter is not exported for IfcOpenings in floor slabs if it is filled in Revit with the IfcDescription parameter in IFC 2x3. For walls it works. In IFC 4, the openings in slabs are not present at all.

Tested with the German openings-Familiys from Autodesk in Revit 2022 with the IFC exporter version 2022.4.0.0

[2022-01-20 14:38] KHestholm commented on #299
Hello. Was this ever resolved?

[2022-01-21 04:46] SituDoolwind commented on #394
We have just put up a USD$1,000 reward for solving this issue. If you are able to solve it, please reach out to us on Upwork and we will pay you for the solution - https://www.upwork.com/freelance-jobs/apply/Solve-issue-with-Autodesk-revit-ifc-exporter_~019d1e45428025b9f2/

[2022-01-21 06:12] soumayagshoaib commented on #394
![image](https://user-images.githubusercontent.com/98145146/150475575-43f3ac5d-66ee-40da-8440-45ccfd2d80ef.png)
 The problem here at your joint points , please check my upwork submission , thanks

[2022-01-21 06:13] soumayagshoaib commented on #394
at your original file as you see there is any join relation between walls so that happen
![image](https://user-images.githubusercontent.com/98145146/150475838-8a40416c-8714-48e8-a716-a45c8d437f03.png)

[2022-01-21 06:15] soumayagshoaib commented on #394
but when you correct joints points you get this correct relation between walls
![image](https://user-images.githubusercontent.com/98145146/150476015-603c0a40-c0d2-4d3c-b6d9-005c429c3d63.png)

[2022-01-21 06:20] louistrue commented on #394
They already knew that, see second post:

[2022-01-21 06:23] soumayagshoaib commented on #394
yes dear, that depends on the properties for walls he did before drawing, so what I meant that he didn't do it before started drawing so that happen so it was corrected when he did after drawing manually

[2022-01-21 06:26] soumayagshoaib commented on #394
try to message me by Upwork messages room I can explain how he can able that automatically on Revit to be correct during drawing, i sent you a submission

[2022-01-21 06:28] RikMcKenzie commented on #394
To clarify, we know how to fix this issue in Revit.

What we need is an automated solution as part of a Revit to IFC export process to sort this out.

We don't have access to client Revit files and therefore cannot perform this process on wall intersections inside the Revit file.

[2022-01-21 06:29] soumayagshoaib commented on #394
so you need to fix it direct on IFC Files

[2022-01-21 06:39] RikMcKenzie commented on #394
Yes.

We believe it has to do with the way the void forms in window and door families interact with walls during the 'create parts' function as part of the IFC export process.

[2022-01-21 16:54] AngelVelezSosa commented on #391
I am scared to remove the old parameters automatically, since they may show up in schedules, or even be used by other add-ins.  However, providing some sort of macro that you could use seems reasonable enough.

[2022-01-27 10:28] MisunMartin opened #402 "Windows parameters exported if wall not joined / not exported if wall is joined"
Hello everybody,

we have found out a strange issue with exporting.
When we do export IFC from Revit there is an IfcWindow element with custom pSet and parameters.

The elements affected are following:
1 - hosting wall
2 - window in host wall
3 - faccade wall (joined or unjoined with the host wall)

The following happens:
**- if only 1 and 2 are exported all parameters in Window Pset_Architektur a

[2022-01-31 09:05] mimperator opened #404 "Not all of the properties from the property set are exported to ifc file"
Hey, I have a problem with exporting ifc model from Revit.

I am using an IFC Exporter 20.3.2 with Revit 2020, version 20.0.0.377
I have a property set .txt file with a list of properties to map. Strange thing is that only some of the parameters are exported, for example parameters for walls, slabs but none for stairs, columns.
When I move some parameter group to the top of the file, it is exporte

[2022-01-31 13:14] TimoMeier opened #405 "Multiple IFC Models don't align properly"
I have IFC models, which did align perfectely when using legacy conversion but no more after switching to modern conversion. Somehow, these models produce some kind of "shadow" where parts of the model are rendered twice (it looks like a weird shadow):
![BELZ6](https://user-images.githubusercontent.com/98739543/151798941-cbaddc56-ac72-481a-a2e3-a29f52475021.png)

The models, that should allign wit

[2022-01-31 15:02] gschleusner opened #406 "Hexagon becomes a circle on Export 2x3 2020"
The gray item is a Revit floor modeled to have straight edges and is exporting as a circle.  The green items are modeled as sweeps as in place.   It appears Revit is trying to "fix" the geometry.   Is there anyway to avoid this happening.

![image](https://user-images.githubusercontent.com/6507154/151816961-854a4e31-d540-4dae-8ed0-180d0800e549.png)

[2022-01-31 15:42] AngelVelezSosa commented on #406
Revit shouldn't even be trying to do that.  Can you get us a Revit file with just the "fixed" geometry?

[2022-01-31 15:45] gschleusner commented on #406
@AngelVelezSosa forthcoming...

[2022-01-31 22:02] AngelVelezSosa commented on #406
Checked the file offline with @gschleusner , and comparing the contents of the IFC file and another viewer, looks like this is a viewer problem, not a Revit problem.

[2022-01-31 22:02] #406 closed

[2022-02-01 18:19] IO10101 opened #407 "Export of BaseQuantities"
BaseQuantities for IfcDistributionElements like Pipes, Ducts and Cabletrays won't be exported in Revit 2021. F.e. I would expect Qto_PipeSegmentBaseQuantities.Length in the IFC File. Export of Quantities only works for IfcBuildingElements like IfcWall.

[2022-02-01 19:01] AngelVelezSosa commented on #407
We are working on proper quantity support as part of our IFC4 MEP certification.

[2022-02-01 23:08] simon-whitbread commented on #382
Same issue - Enscape 3.2 installed. Removed addin for Revit 2022, IFC Export works. move addin back, IFC crashes Revit.
Appears to only occur in Revit 2022.
Journal on Revit crash provides no help - Revit ends with the IFC command, and no warnings.
Event viewer simply states Revit application crashed.

[2022-02-01 23:47] AngelVelezSosa commented on #382
We are working on a workaround on our side by changing the code that causes Enscape to force Revit to crash, but the real fix will need to come from Enscape.

[2022-02-02 08:40] GunnarSchwertner commented on #382
I have got response from Enscape support, they have determined that this is a bug in version 3.2 of Enscape. No info on when the issue will be resolved. I downgraded to Enscape 3.1.1.53717, and the IFC exports from Revit works. We had the problem in Revit 2020, 2021 and 2022.

[2022-02-03 03:43] Moult opened #408 "Dealing with multiple imports (link) of an updated IFC file"
When an IFC is linked into Revit, a Revit file is generated, as well as a shared parameters file.

Let's say the IFC model is updated, and so a consultant receives a new IFC. They then link that into Revit. A new Revit file is generated, and a new shared parameters file is also generated.

Even if the pset name and property names are the same between the two IFC files, the shared parameter files w

[2022-02-03 03:45] Moult opened #409 "Is it possible to map properties on import?"
You can map properties on export. Upon import, can you map them?

[2022-02-03 15:19] AngelVelezSosa commented on #408
We are currently looking at improving parameter support for linked IFC files - this would be both around performance and re-usability.

[2022-02-07 06:44] Moschi87 commented on #397
We also have a problem with dislocated walls when using IFC4 Reference View with the latest IFC exporter (21.4.2.0) an Revit 2021.
It was possible for us to find the (or one?) reason which triggers the problem: If the wall has a round opening (or rounded edge) then the exporter will dislocate this wall. Rectangular openings have no problems.

There is a support case open at Autodesk (CaseNo:186682

[2022-02-08 08:42] eibre opened #410 "Ifc export via api: There has been an unrecoverable error during export"
We have created an add-in to export ifc. Even if the file is an empty file, some users get this error message when exporting:

There has been an unrecoverable error during export.  This may be because the file is too large to export.  Try using filters and "Current View Only" mode, or look at the documentation for more suggestions.  Export will now be aborted.

Is this a known issue? Revit 2022.

[2022-02-08 14:10] AngelVelezSosa commented on #410
The only known issue is the Enscape one where Enscape 3.2 can crash IFC export.  If you have created your own add-in, unfortunately you'd have to debug it to see what the issue is - there are no other generic "IFC just doesn't work" issues other than the Enscape one.

[2022-02-08 15:45] AngelVelezSosa commented on #404
If you have a small sample file and your shared parameters file, we could take a look.

[2022-02-08 16:14] eibre commented on #408
If you replace the ifc file on the folder/location it is stored, Revit will update the generated revit file and keep the shared parameter file.

[2022-02-09 08:27] TimoMeier commented on #405
The problem is resolved. Chech the stackoverflow post for futher details.

[2022-02-09 08:27] #405 closed

[2022-02-10 22:01] dobrzhanskyi opened #411 "Empty IFC files after exporting with Revit api."
I've created the Revit addin that exports 3d views from the working set.
If I am not assign activeViewId to the FilterViewId options, I am getting the whole model in each IFC result with the same size.
If assign I am getting empty files.
It worked fine, but now I have this strange behaviour.

My IFCExportOptions
`			IFCExportOptions options = new IFCExportOptions()
{
	FileVersion = IFCVersion.IFC2

[2022-02-11 09:01] WillemdBr opened #412 "Curtain wall components (mullions / panels) assembly code"
Hi,

When a wall is drawn with a curtain wall, and walls and windows are the Curtain panels, those panels should be classified differently, using the Assembly code.
In IFC these components always have the same Classifications, which is the Assembly code assigned to the curtain wall. So the IFC doesn't use the Assembly code assigned to the curtain panel components.

Can this be fixed with the IFC e

[2022-02-11 14:02] AngelVelezSosa commented on #412
I think this should be fixable, if I understand correctly that the panels and mullions are using the Assembly Code of the curtain wall instead of their own.  We will try to reproduce this.

[2022-02-11 14:21] WillemdBr commented on #412
Thanks Angel. And yes, you've understand it correctly.

[2022-02-12 16:33] WawanSolihin commented on #384
Regarding this offset issue: The export data is actually correct. The RefElevation in IfcSite contains value that is expected according to the IFC specification, i.e. the actual elevation from the Mean Sea Level (or the geographic coordinate reference). The issue in this case is on import (LINK). The issue has been fixed in the main development branch, but not yet ported into the open source versi

[2022-02-14 06:56] brunnefa commented on #384
We tested it today and it works fine for us. Many Thanks.

[2022-02-14 06:56] #384 closed

[2022-02-14 11:55] rolfarchi commented on #384
Hello,
tested, this problem solved.
Thank you very much.

[2022-02-14 14:35] theoryshaw opened #413 "For a linked IFC file, a material tag works in projection, but not in a 'cut'."
For a linked IFC file, a material tag works in projection, but not in a 'cut'.

See video here: https://www.dropbox.com/s/hz9s7fz1j7rqhvl/2022-02-14_08-31-14.mp4?dl=0

Files [here](https://gitlab.com/openingdesign/OD_Library/-/tree/8f81347a8e71873bb497e5941df0c0375a84adc4/BIM/Details).

[2022-02-14 14:45] eibre commented on #410
THank you for the reply!

We have tracked down the bug: in our code: The "ActivePhaseId" option was set wrong.

This fixed the issue:  `options.AddOption("ActivePhaseId", "0");`

[2022-02-14 14:45] #410 closed

[2022-02-15 03:21] chuongmep commented on #120
We have any update about this ?

[2022-02-15 16:20] theoryshaw opened #414 "IFC file doesn't import (open) into Revit?"
Anyone know why the following IFC file doesn't import (open) into Revit?...
Currently have Revit 2020...
IFC exporter 20200210_1400(x64)

https://gitlab.com/openingdesign/101_W_33rd_St/-/blob/bc71c0efaac984b2f5c55abdf04c1000b950eef9/Models%20and%20CAD/IFC/101_W_33rd_St_Details_A.ifc

[2022-02-15 16:36] AngelVelezSosa commented on #414
Open IFC doesn't have full IFC4 support yet.  Does the IFC2x3 version work?  Or Link IFC?

[2022-02-15 17:29] theoryshaw commented on #414
Will try IFC2x3.
Any roadmap projections, on supporting IFC4?

[2022-02-15 20:28] AngelVelezSosa commented on #414
What's on the roadmap is completely replacing Open IFC with a similar technology to Link IFC.  But that is also undergoing some significant revamping, and will be handled first.

[2022-02-15 20:54] parrela commented on #412
I don't see this happening in the latest code - I exported a curtain wall with a wall type in one panel and glass in another. Both had assigned assembly codes. On export both of those codes were there. I'll try it in 2022 as well.

[2022-02-16 01:44] theoryshaw commented on #414
Thanks Angel. Does 'link' IFC4 have full functionality, however?

[2022-02-16 04:45] AngelVelezSosa commented on #414
Depends on what you mean.  Link IFC is intended for referencing, and we do continue to add functionality to the DirectShape elements that house the information to improve that workflow.  There are a number of projects on the books there.  But if "full" means "create a native Revit wall", then at the moment the intention is that would be for Open.  Which you could link into another project of cours

[2022-02-16 05:43] theoryshaw commented on #414
yes, sorry, for referencing only.

Thanks.

[2022-02-16 13:38] AngelVelezSosa commented on #414
Then, yes, Link IFC has full IFC4 Reference View functionality, and getting more IFC4.3 functionality also.  If you see anything missing there, do let us know.

[2022-02-16 13:46] theoryshaw commented on #414
Sound good, is there a glitch, however, with material tags in 'cut'? https://github.com/Autodesk/revit-ifc/issues/413

[2022-02-16 14:26] theoryshaw opened #415 "Types not importing in Revit 2020"
[this](https://gitlab.com/osarch/FreeMVD_WorkFlow/-/blob/4926e662c0bddd8533b6799a4a51d98be19748de/Random_Tests/Types_Generic/from_Blender/Types_Generic_02.ifc) file doesn't link or open in Revit 2020.

Any clues why?

IFC.for.Revit.2020.version.20.3.3.0

[2022-02-16 14:37] AngelVelezSosa commented on #415
Does it work in newer versions?

[2022-02-18 08:08] AhmadZnait opened #416 "Exporting Pipe and Duct insulation IFC4 Revit 2021-2022"
Both pipe/duct and their insulation get exported as one element (IfcPipeSegment/IfcDuctSegment
<img width="1488" alt="IFC4 Duct" src="https://user-images.githubusercontent.com/99953142/154643151-15256f2c-4c7d-4650-8af8-bd63cdec3b84.png">
)

[2022-02-18 14:21] andydandy74 opened #417 "HTML log file created only for IFC2x3 models?"
I haven't tested this extensively, but it seems that when linking IFC models, Revit only creates a log file for IFC2x3 models. Would it be possible to enable this for IFC4 models as well?

(Tested in 22.4)

![grafik](https://user-images.githubusercontent.com/3014437/154699924-5e3d8e06-6aeb-4c37-ad5c-2cc0fddde58a.png)

[2022-02-18 15:51] andydandy74 opened #418 "Wish: Dependent elements should inherit IsExternal attribute value"
There are a number of dependent elements that would benefit from inheriting their ```IsExternal``` attribute value from their respective parent / host:
- Stringers of assembled stairs
- Stair-hosted railings
- ~~Curtain wall panels~~
- ~~Curtain wall mullions~~

All of these report their ```IsExternal``` values as ```False```, regardless of the ```Function``` parameter value of their respective ho

[2022-02-18 16:20] AngelVelezSosa commented on #417
That's definitely not generically true.  In fact, there are messages we write out if we process an IFC4.X file to state that we only have a partial implementation. Is there something special in this particular case?

[2022-02-18 16:38] andydandy74 opened #419 "Why are Slope and Rotation Angle parameters exported unitless?"
Parameters that use the ```Slope``` or ```Rotation Angle``` parameter type are exported as ```IfcReal``` as opposed to parameters that use the ```Angle``` parameter type (which are exported as ```IfcPlaneAngleMeasure```).

Would it be possible to export these parameter types the same way as ```Angle``` parameters?

![grafik](https://user-images.githubusercontent.com/3014437/154724388-69b9934d-4016

[2022-02-18 16:40] AngelVelezSosa commented on #419
Can you provide a trivial sample file?

[2022-02-18 16:44] andydandy74 commented on #419
[100_IFC_SlopeAndRotationAngleUnitless.zip](https://github.com/Autodesk/revit-ifc/files/8098887/100_IFC_SlopeAndRotationAngleUnitless.zip)

[2022-02-18 16:48] andydandy74 commented on #417
[GitHub417.zip](https://github.com/Autodesk/revit-ifc/files/8098941/GitHub417.zip)

[2022-02-18 17:26] andydandy74 opened #420 "Pset_ProvisionForVoid automatically assigned to wall profiles and slab edges"
When exporting wall profiles to IFC2x3, they are assigned the ProvisionForVoid property set. Is there any way of avoiding this?

![grafik](https://user-images.githubusercontent.com/3014437/154732102-8bda8019-0686-4a07-9e96-ab34ce675c4a.png)

EDIT: I see the same thing happening with slab edges as well.

![grafik](https://user-images.githubusercontent.com/3014437/154917806-5c511937-28ca-433f-8b75-b

[2022-02-19 16:20] WawanSolihin commented on #420
This is a little "difficult" problem to solve. This is due to a different way of Revit manages parameters compared to IFC (no concept of propertyset). Therefore, Revit currently looks for the parameter names and match them to Pset(s) that defines those properties. In addition, this Pset is further narrowed by ObjectType="ProvisionForVoid", which is not supported by the exporter currently (only Pre

[2022-02-21 08:36] andydandy74 commented on #420
@WawanSolihin Any way to fix this for IFC2x3?

[2022-02-21 08:54] andydandy74 opened #421 "Stringers show wrong value in Pset_MemberCommon.Slope"
When exporting assembled stairs to IFC2x3, the ```Slope``` attribute of ```Pset_MemberCommon``` seems to always export as 90°, regardless of the actual slope of the stringer.

![grafik](https://user-images.githubusercontent.com/3014437/154920819-2835bc1b-cf76-4534-9492-77b34bb53628.png)

[2022-02-21 09:05] WawanSolihin commented on #420
Yes, please try it with the file I provided. You need to remove the entry under IFC2x3CV2 MVD, which currently includes Pset_ProvisionForVoid

[2022-02-21 11:14] andydandy74 commented on #420
Doesn't seem to work. I deleted the line in the JSON file, replaced the existing file in the addin folder and restarted Revit for good measure. The property set keeps being exported (22.4 exporter). So I guess that this means that any elements that get exported as ```IfcBuildingElementProxy``` and have one of those key parameters will have a ProvisionForVoid property set attached to them, right?

[2022-02-21 11:15] andydandy74 opened #422 "Slab edges do not inherit level of host object"
When exporting to IFC2x3, it seems like slab edges do not inherit their building storey attribute (as defined in ```IfcRelContainedInSpatialStructure```) from their host's level. Instead, the building storey seems to be determined geometrically which usually ends up being the building storey below the host's level.

![grafik](https://user-images.githubusercontent.com/3014437/154944646-6ec5e39a-f8c

[2022-02-21 13:00] WawanSolihin commented on #420
There are two issues: One is the MVD name is not correct (should be all capital), and also the code handles Pset_ProvisionForVoid differently (It is a special Pset). Therefore, I need to make modification to the code to be able to make it work.
I made a pre-release installer (not signed) here: https://github.com/Autodesk/revit-ifc/releases/tag/IFC_v22.4.2.0
This installer contains the updated IFCC

[2022-02-21 19:18] eibre commented on #420
Nice! I did not know about this file. Is it possible to use this with the exporter included in Revit or do we need to use the open-source one?

[2022-02-22 04:39] WawanSolihin commented on #420
Yes, it works also with the built-in one (as long as you see that the IFCCertifiedEntitiesAndPSets.json file exists in the Revit install folder. I do not remember exactly when this is implemented. It was for quite a while already.)

[2022-02-23 15:15] andydandy74 commented on #420
@WawanSolihin Just tested this with the installer you published. Works perfectly. Thanks! :-)

[2022-02-23 15:15] #420 closed

[2022-02-25 13:09] BIMLUND commented on #348
It is not working on 2022 with the latest IFC exporter either. No interest in fixing this issue? We cannot do QTO on steel because we don't even can export the parameters Length, Width and Thickness. Thanks!

[2022-02-25 13:12] BIMLUND commented on #348
@AngelVelezSosa

[2022-03-01 14:54] Thomas84 opened #424 "Revit 2021: IFC Add-in 21.4.0.0 to 21.4.2.0 is buggy and leads to wrong coordinated models"
Since exporter version 21.4.0.0 and the actual 21.4.2.0 version as well, the "Link IFC" function leads to wrong placed models (Revit German language settings). The model is placed far away from the internal origin. Both teams have PBP and origin on the same location.
I installed 21.2.1.0 and everything works as expected.
One week of error searching and the add-in is buggy

(-__-)

USE 21.2.1.0 if

[2022-03-02 19:30] JOuellette-Autodesk commented on #422
Which version of Revit and the IFC tools are you using?

[2022-03-02 19:31] JOuellette-Autodesk commented on #421
@andydandy74 can you tell me which version of Revit and IFC tools you are using?

[2022-03-02 20:15] andydandy74 commented on #421
I believe this was tested with v22.4.0. The viewer I used is BIM Collab Zoom 5.2

[2022-03-02 20:17] andydandy74 commented on #422
I believe this was tested with v22.4.0 in Revit 22.1.2. The viewer I used is BIM Collab Zoom 5.2

[2022-03-02 22:34] JOuellette-Autodesk commented on #395
@Moult could you tell us which version of Revit and the IFC tool you are seeing this?

[2022-03-02 22:36] JOuellette-Autodesk commented on #393
@JoepvanMotman could you tell us which version of Revit and the IFC tool you saw this in?

[2022-03-02 22:47] JOuellette-Autodesk commented on #422
Problem Report filed: https://jira.autodesk.com/browse/REVIT-188900

[2022-03-02 22:48] Moult commented on #395
Revit 2021 latest version of the Revit exporter.

[2022-03-02 22:49] Moult commented on #395
Not sure if this should just be marked as feedback - it causes basic IFC validation to fail.

[2022-03-02 22:54] JOuellette-Autodesk commented on #421
Problem report filed: https://jira.autodesk.com/browse/REVIT-188901

[2022-03-02 23:08] JOuellette-Autodesk commented on #424
@Thomas84 Is this IFC4 or IFC2x3 export?

[2022-03-03 00:05] JOuellette-Autodesk commented on #417
Problem Report filed: https://jira.autodesk.com/browse/REVIT-188903

[2022-03-03 04:07] JOuellette-Autodesk commented on #416
@AhmadZnait Could you please tell me which versions of Revit and the IFC Open Source tools you are using?

[2022-03-03 04:12] JOuellette-Autodesk commented on #400
Hi @mathib,
Rather than the Autodesk App Store, the IFC addon can be found here in the GitHub repository... https://github.com/Autodesk/revit-ifc/releases.

[2022-03-03 04:13] #400 closed

[2022-03-03 04:19] JOuellette-Autodesk commented on #411
@dobrzhanskyi What version are you seeing it break?

[2022-03-03 04:22] JOuellette-Autodesk commented on #397
@Teun1 You can attach small test files here.

What version are you seeing the problems?

[2022-03-03 04:30] JOuellette-Autodesk commented on #396
@Teun1 You can find more information about the topic here:
https://forums.buildingsmart.org/t/why-are-material-layer-sets-excluded-from-ifc4-reference-view-mvd/3638
and official documentation here:
https://standards.buildingsmart.org/MVD/RELEASE/IFC4/ADD2_TC1/RV1_2/HTML/link/ifcmaterialconstituent.htm

[2022-03-03 07:38] emilianocapasso commented on #424
@JOuellette-Autodesk IFC 2x3 from my side, I'll do more tests also in IFC4 and I'll give you feedback

[2022-03-03 07:52] AhmadZnait commented on #416
@JOuellette-Autodesk using both Revit 2021.1.5 and 2022.1.1 and IFC exporters v 21.4.2.0,  and 22.4.0.0

[2022-03-03 08:02] Thomas84 commented on #424
IFC2X3

[2022-03-03 11:53] jmirtsch opened #425 "Railing Geometry adopted From Active View"
Hi,  I was requested today to help trouble shoot a revit IFC export that is stalling.
It has lots of railings, which have spheres as a connection between baluster and railing.
![220303 railing spheres](https://user-images.githubusercontent.com/791757/156559622-67cbfcde-70a7-4a1f-bce6-a694903874ab.png)

I suggested to disable their display in a course detail, and export geometry based on active vie

[2022-03-03 14:05] AngelVelezSosa commented on #395
I agree, @JOuellette-Autodesk can you file a problem report for this also?

[2022-03-03 20:14] JOuellette-Autodesk commented on #398
@Teun1 What did you intend the nested Wall Sweep to be? What kind of part is it? A wall header plate? An integrated beam?

[2022-03-03 20:15] JOuellette-Autodesk commented on #424
Problem Report filed: https://jira.autodesk.com/browse/REVIT-188931

[2022-03-03 20:21] JOuellette-Autodesk commented on #416
This will definitely impact certification.
Problem Report filed https://jira.autodesk.com/browse/REVIT-188934

[2022-03-03 20:21] JOuellette-Autodesk commented on #416
@AhmadZnait is this true of both IFC4 and 2x3?

[2022-03-03 20:27] #352 closed

[2022-03-03 20:32] JOuellette-Autodesk commented on #358
Problem Report filed: https://jira.autodesk.com/browse/REVIT-188935

[2022-03-03 20:58] JOuellette-Autodesk commented on #395
@Moult "Feedback" is a temporary label for my purposes of triage. I use it when I ask for more info from the submitter. I remove it when I get the answers.

[2022-03-03 21:03] JOuellette-Autodesk commented on #395
@Moult BTW, Revit doesn't even support IFC4.3 yet. Are you submitting an issue against IFC4.0.2.1?

[2022-03-03 21:11] JOuellette-Autodesk commented on #395
https://jira.autodesk.com/browse/REVIT-188936

[2022-03-03 21:27] emilianocapasso commented on #424
@JOuellette-Autodesk I've run additional test with my team (all latest versions downloaded from here):

- Exporter 2019: Export by PBP and Internal Origin leads to wrong import back (both with Open or Link) like @Thomas84 said, the model will be imported far away
- Exporter 2020: Same as 2019
- Exporter 2021: Same as 2020 and 2021
- Exporter 2022: Internal Origin works as expected. Project Base Po

[2022-03-03 22:48] AhmadZnait commented on #416
@JOuellette-Autodesk with IF2x3 is working normally the problem is with IFC4 Reference View

[2022-03-04 09:18] JoepvanMotman commented on #393
Hi Jeffrey,

I think it was in Rvt 2020. I checked the model in Solibri, BIMviosion and BIMCollabZOOM. I did fount a solution. When i export the roof as a IfcSlab.ROOF tha area is correct.

Met vriendelijke groet,

Joep van Motman
BIM-modelleur / BIM-adviseur

(werkdagen maandag t/m vrijdag)

[FIMBLE - BIM voor iedereen]

T: +31 (0)20 26 164 32
M: +31 (0)6 197 250 72

E: ***@***.***

www.fimble.nl

[2022-03-04 19:18] theoryshaw opened #426 "On export is there a way to set the `Precision` attribute higher for `IFCGEOMETRICREPRESENTATIONCONTEXT`?"
On export is there a way to set the `Precision` attribute higher for `IFCGEOMETRICREPRESENTATIONCONTEXT`?

[2022-03-04 19:57] AngelVelezSosa commented on #426
No, it is set based on the geometric tolerances of Revit itself.  Of course, that Precision value isn't very precise itself :)  What is it the precision of?  We use it to mean the value at which two vertices for a BRep (faceted or otherwise) would be coincident.  But meshes could have different (tighter) precisions for example.  I think it is generally a not very useful value.

[2022-03-04 19:57] #426 closed

[2022-03-04 20:17] theoryshaw commented on #426
Gotcha. thx.  Is related to: https://github.com/IfcOpenShell/IfcOpenShell/issues/2053

[2022-03-05 17:18] theoryshaw opened #427 "Is it possible to not have the ProfileName attribute from IfcIShapeProfileDef show up in the IfcMaterial name?"
Is it possible to not have the `ProfileName` attribute from `IfcIShapeProfileDef` show up in the `IfcMaterial` name?

Files: https://gitlab.com/osarch/FreeMVD_WorkFlow/-/tree/9970c4714fed84785fafd2e6ebf2cdcfa2975c37/Random_Tests/Beam_W_section/from_Blender

![2022-03-05_11-12-13_Autodesk_Revit_2020 2_-_ Beam_W_section_03_referen_Revit](https://user-images.githubusercontent.com/507113/156893310-760

[2022-03-05 17:52] theoryshaw commented on #415
i think this was a user error, on my part.  Closing, sorry.

[2022-03-05 17:52] #415 closed

[2022-03-11 12:39] Teun1 commented on #396
Thanks @JOuellette-Autodesk for the links. There is definitly more to this.

Perhaps we could narrow my question down to why an export from Revit with builtin settings is different from when you copy these settings and export again even without changing.

Is every other setting in the exporting in conflict with the certified status of the IFC from Revit?
And why are we missing Pset with user expor

[2022-03-11 12:58] Teun1 commented on #398
Yes it could be a wall header plate.

I know the Revit IFC exporter does not handel Sweeps and nested Wall Sweepts nicely.
Some say, you cannot use these native Revit functionality because of this IFC export behavior.
In real live some Revit users keep using them. So ones in a while I check the IFC export behavior again.

At the moment it actualy clashes with the host IfcWall. (the third picture)

[2022-03-11 21:20] theoryshaw opened #429 "Revit: objects show in 3d, but not elevation"
Any clues why these anchor bolts show up in 3D in Revit, but not in elevation or section?
files: https://www.dropbox.com/sh/cepsfezmekpbukl/AAA2_vInl1GuC1tqHyah1AgUa?dl=1

![](https://community.osarch.org/uploads/editor/m0/u3hemje2npvy.png "")
![](https://community.osarch.org/uploads/editor/hf/dda2reie9qip.png "")

![](https://community.osarch.org/uploads/editor/3j/x6s2qv14haeh.png "")

[2022-03-11 22:25] theoryshaw commented on #429
Tis weird, if you explode it, it shows up...
https://www.dropbox.com/s/tfyf56r8wh75ruv/2022-03-11_16-20-19_Autodesk_Revit_2020.2_-_%5Btest_03.rvt__3D_View_%7B3_Revit.mp4?dl=0

[2022-03-14 08:38] tcosse opened #430 "Impossible to export Workset as text in UserDefined Pset"
I have attempted to export the Workset as a text using UserDefinedPsets (txt file).
The text of the workset cannot be exported.
It is only possible to export the Number of the workset (if you put Integer as your Data Type).
The test has been attempted in version 20.3.2.0 for Revit 2020.
After I install revit 2022 I will test this again on the latest version.

[2022-03-14 08:41] tcosse opened #431 "Not possible to export IfcSystem properties using UserDefinedPsets"
I have attempted to export Properties onto an IfcSystem using UserDefinedPsets.
The test was unsuccessfull.
Test made in french on the Name of the System and Abbreviation properties.
The test was made on version 20.3.2.0 for Revit 2020.

[2022-03-14 13:38] JOuellette-Autodesk commented on #429
@theoryshaw How is this related to IFC?

[2022-03-14 13:44] JOuellette-Autodesk commented on #431
@tcosse Have you tried this with Revit 2022.1.2 and the IFC open source tools 22.4.1.0?

[2022-03-14 14:51] theoryshaw commented on #429
This is directly after 'opening' the IFC, linked above, into Revit 2020.

[2022-03-16 03:26] theoryshaw commented on #149
related: https://forum.dynamobim.com/t/cycling-in-out-of-edit-mode-for-a-bunch-of-mip-families/74406

[2022-03-17 14:47] AlexSchleicher commented on #212
Is this the same behavior as here?

![Duct](https://user-images.githubusercontent.com/98091588/158830364-f07a6141-fc33-4f2f-b200-c9a701e2569c.png)

[2022-03-17 22:28] emilianocapasso commented on #424
- Exporter 2021: By Shared Coordinates, not working either

[2022-03-18 14:08] JOuellette-Autodesk commented on #429
@theoryshaw What version of Revit 2020 and the IFC open source tool are you using?
This is Open not Link?
Have you tried in Revit 2022.2.1 with the latest open source tool?

[2022-03-22 10:24] Teun1 opened #432 "Object with Revit warning is not exported"
We had a generic model wich could not be exported to IFC.

While examining the issue it seems that the problem was that this object had a warning that Revit could, but the exporter could not handle. The object is roof based. But it was not cutting it's host. The host was in this case a sloped glazing roof.

We would expect the object to be exported just a it is visible in Revit.

I did a test with

[2022-03-22 14:31] JOuellette-Autodesk commented on #432
https://jira.autodesk.com/browse/REVIT-189535

[2022-03-22 16:28] JOuellette-Autodesk commented on #397
https://jira.autodesk.com/browse/REVIT-189541

[2022-03-22 16:31] JOuellette-Autodesk commented on #373
@HL-code Can you reply and add a file?

[2022-03-22 16:35] JOuellette-Autodesk commented on #374
https://jira.autodesk.com/browse/REVIT-189542

[2022-03-22 16:38] JOuellette-Autodesk commented on #374
We'll have to check to see how this relates to the RV1.2 MVD requirements. I understand your request, but it may not be a part of that particular export. It may be that it can be defined in another MVD, or it is an additional/optional feature to be considered at export.

[2022-03-22 16:43] JOuellette-Autodesk commented on #429
@theoryshaw can you give me info on the versions of Revit and the IFC open source tool you are having the issue?

[2022-03-22 16:52] JOuellette-Autodesk commented on #413
https://jira.autodesk.com/browse/REVIT-189543

[2022-03-22 17:28] theoryshaw commented on #429
Sure.
- Revit - 20.2.12.1 20200210_1400(x64)
- Exporter - 20.3.3.0 - Alternate UI 20.3.3.0

I haven't had an opportunity to try 2022 yet.

[2022-03-22 17:31] theoryshaw commented on #413
Hi, the Jira link is behind a login.  Is this internal, only?

[2022-03-23 06:46] PeterTranberg commented on #382
@AngelVelezSosa  In more and more cases we as Software developers use shared components (DLL) with other vendors, this often makes version conflicts on either ours or others addins including Autodesk Revit functions. We have decided to use IL Re-pack for our DLLs to avoid the version conflict. I am not sure if this is the case in the above situation, but you could maybe consider this solution for

[2022-03-23 13:05] WawanSolihin commented on #290
This issue has been fixed in the current development branch. The reason is actually very simple. The code checks for units and perform conversion as needed. However, I found that IFC uses METRE, while EPSG uses METER and therefore the comparison fails. I will bring this changes to 2020 and 2021 since it is actually very simple change.

[2022-03-25 16:19] tcosse commented on #430
I tried with the latest version of the exporter (v22.4.0.0) on Revit 2022. It works, so the problem is solved.

[2022-03-25 16:19] #430 closed

[2022-03-25 16:26] #431 closed

[2022-03-27 08:33] COWImgbj opened #433 "Slanted walls are exported wrong in IFC"
Hello,
Slanted walls are exporting wrongly to IFC 2x3 CV 2.0 using Revit 2022.1.2 and IFC exporter 22.4.2.0. This has also been the case in Revit 2021. I have checked the IFC in both Solibri and Navisworks. The results are the same. It has moved 62 mm horizontally. I have
changed the location line and wall joins, but the results are the same. However, short walls that are slanted seems to be expor

[2022-03-28 13:27] parrela commented on #433
Hi @COWImgbj, I do see this effect but it looks like the slanted wall is exported thinner than the original. Can you check in your model? This is what mine looks like, with magenta lines being the edges of the re-linked IFC wall.
![image](https://user-images.githubusercontent.com/38540886/160408091-b8323b4e-cbc4-4ac0-a4ea-0e4a1876c3be.png)

[2022-03-28 13:37] parrela commented on #433
REVIT-189785

[2022-03-28 14:45] COWImgbj commented on #433
Yes, you are right. It seems the diagonal thickness (actual thickness) in Revit is the horizontal thickness in IFC. It seems to happen for thinner elements and elements with lesser angles as well, but not as noticable.

Revit
![image](https://user-images.githubusercontent.com/58807838/160422885-71de965d-a940-403d-b528-2b1f2fcaf5b1.png)

Solibri
![image](https://user-images.githubusercontent.com/58

[2022-03-28 15:12] COWImgbj commented on #76
Any progress on this issue?

[2022-03-29 17:04] mcicognani1967 commented on #374
I found interesting this phrase inside the IFC4 documentation regarding IfcElementAssembly:

_The geometry of an IfcElementAssembly is generally formed from its components, in which case **it does not need to have an explicit geometric representation**._

It's interesting because the presence of a solid geometry inside the host family, or not, changes the behavior of the exporter.
If it's present

[2022-03-30 11:29] gvanolst opened #434 "Can't link specific IFC 2x3 in Revit 2022"
Hi,

I'm trying to link or open the attached IFC-file in Revit 20222 (Ifc Exporter 22.4) but it doesn't show anything. When I try to open it I get an error that it is unable to open it.

[ifc-file.zip](https://github.com/Autodesk/revit-ifc/files/8380014/ifc-file.zip)

[2022-03-30 18:09] dobrzhanskyi commented on #411
@JOuellette-Autodesk  I've tried with many versions and I have the same result.
I've tried 22.4.0, 22.4.1, and even beta 22.4.2. Also I've tried to delete Alternative UI exporter to use the built-in -same error,

[2022-03-30 19:10] HL-code commented on #256
Seems to me that Roofs does not get Type Properties exported.
But even if i put IFCExportAs on instance it does not pick up "IfcRoof.FLAT_ROOF"

So it could be two issues.
Type Propeties is not exported for Roofs.
And IFCExportAs does not work on Roofs.

Issue(s) is still persistent in the 2022.4.0 version.

[2022-03-30 19:23] AngelVelezSosa commented on #256
@WawanSolihin weren't you looking at this particular issue?

[2022-03-31 08:09] CyrilWaechter opened #435 "MaterialLayer from MaterialLayerSet in wrong order for roofs ?"
From my understanding from [IfcMaterialLayerSet](http://ifc43-docs.standards.buildingsmart.org/IFC/RELEASE/IFC4x3/HTML/lexical/IfcMaterialLayerSet.htm) documentation:

![](http://ifc43-docs.standards.buildingsmart.org/IFC/RELEASE/IFC4x3/HTML/figures/ifcmateriallayerset-01.png)

When no IfcMaterialLayerSetUsage is provided layers should be given from bottom to top (I assume considering the object l

[2022-03-31 08:26] CyrilWaechter commented on #435
I actually get the same issue for the `IfcSlab 6962 1oR0Qwj8n21eGJGPnHEGet` which is using an [IfcMaterialLayerSetUsage](http://ifc43-docs.standards.buildingsmart.org/IFC/RELEASE/IFC4x3/HTML/lexical/IfcMaterialLayerSetUsage.htm):
![image](https://user-images.githubusercontent.com/9622862/161010742-1e9c78cf-48b0-4f02-a0fb-967f3e4d35e4.png)

local z is pointing up, `DirectionSense` is `POSITIVE` wit

[2022-03-31 12:58] WawanSolihin commented on #256
I will take a look. There were a few issues related to predefinedType not exported

[2022-03-31 13:06] MagneGanz commented on #433
Same for IFC 4 export from Revit 2022.1.21.13 - Exporter 22.4.0.0.
![image](https://user-images.githubusercontent.com/42205542/161061645-c5835a3f-bec1-4417-bb57-30b57ea9fc2e.png)

[2022-04-02 20:07] SergejMuhic commented on #355
No access there, but thanks @JOuellette-Autodesk

[2022-04-04 13:11] ivomainardi opened #436 "Beam BaseQuantities not exporting Width, Length or Depth"
Hi,

In Revit 2022 when exporting to ifc 2x3 CV 2.0 the basequantities is not exporting the dimensions parameters for beams and slabs. There is any way to map properties to basequantities?

[2022-04-06 00:02] theoryshaw opened #437 "Missing object from template when opening IFC file"
If I use [this](https://www.dropbox.com/s/mml13y63ry2adfo/Start_Template_2020.rte?dl=0) file, as a template when i open an IFC file, the following object disappears.

Revit - 20.2.12.1 20200210_1400(x64)
Exporter - 20.3.3.0 - Alternate UI 20.3.3.0

![image](https://user-images.githubusercontent.com/507113/161870170-1bb97fb4-3c36-432d-94e5-29ceb124b492.png)

[2022-04-06 12:14] gvanolst commented on #434
Anyone who can help me?

[2022-04-06 12:45] AngelVelezSosa commented on #434
I just saw this in another IFC file.  The issue seems related specifically to CAD Exchanger files.  In particular, there is a bug in the file that the ODA toolkit doesn't like the use of "*" where "$" is intended:
#2=IFCPROJECT('BwbabZhZoWdO2enJYU0aGN',*,$,$,$,$,$,(#3),#8);
The "*" for the owner history attribute is wrong.  The owner history is required in IFC2x3, and even if it weren't supplied,

[2022-04-06 13:56] gvanolst commented on #434
Thank you for your reply, the workaround fixed the problem for now.

[2022-04-06 14:13] JOuellette-Autodesk commented on #435
Hi @CyrilWaechter... which version of Revit and the open source tools are you using?

[2022-04-06 18:40] JOuellette-Autodesk commented on #436
Hi @ivomainardi. Can you attach an example file with the problem?

[2022-04-06 18:48] ivomainardi commented on #436
Hi @JOuellette-Autodesk, right now I'm using the release 22.4.2.0, but this problem occurs with the previous too, 22.4.1.0.
Even when using the shared parameter width, depth and height from autodesk, they're are not mapping to IFC BaseQuantities like ArchiCAD do.

[2022-04-06 19:47] JOuellette-Autodesk commented on #437
@theoryshaw ... Have you checked this in Revit 2022?

[2022-04-07 22:37] theoryshaw commented on #437
Yes, same problem applies with 2022, as well.

[2022-04-07 22:38] theoryshaw commented on #437
[Here's](https://www.dropbox.com/s/urhk02irmlqrk98/Start_Template_Missing_object_2022.rte?dl=0) the template file for 2022.

[2022-04-07 22:45] theoryshaw commented on #429
Just tested 2022.  Same error applies.

[Video](https://www.dropbox.com/s/vpxbzuszu8ji5y5/2022-04-07_17-43-58_Autodesk_Revit_2022_-_%5Btest_03.rvt_-_3D_View_%7B3D%7D_Revit.mp4?dl=0)

[Files](https://www.dropbox.com/sh/os4ldgki2u9a9cg/AADXUGQK4INoL6f3IutVyGc1a?dl=1)

[2022-04-07 22:53] theoryshaw commented on #429
Export IFC (v.22.4.2.0)

[2022-04-07 22:54] theoryshaw commented on #437
Export IFC (v.22.4.2.0)

[2022-04-07 23:14] theoryshaw commented on #413
Same applies for 2022.

[Files](https://gitlab.com/openingdesign/OD_Library/-/tree/224a11c85059f9aff08b84d52cf96431e4d982ce/BIM/Details/2022)

[Video](https://www.dropbox.com/s/t5cdz0lxz55ud2a/2022-04-07_18-09-43_Autodesk_Revit_2022_-_%5BReferencing_File.rvt_-_Floo_Revit.mp4?dl=0)

Export IFC (v.22.4.2.0)

[2022-04-14 14:37] JOuellette-Autodesk commented on #437
Can you attach the IFC file in question?

[2022-04-14 14:47] JOuellette-Autodesk commented on #435
https://jira.autodesk.com/browse/REVIT-190531

[2022-04-14 14:48] JOuellette-Autodesk commented on #436
https://jira.autodesk.com/browse/REVIT-190530

[2022-04-14 14:55] JOuellette-Autodesk commented on #429
https://jira.autodesk.com/browse/REVIT-190532

[2022-04-14 15:00] JOuellette-Autodesk commented on #411
https://jira.autodesk.com/browse/REVIT-190535

[2022-04-14 15:06] JOuellette-Autodesk commented on #398
@Teun1 Could you please attach the file (or link to a file transfer service)?
Please also indicate the version of Revit and IFC exporter

[2022-04-14 16:14] theoryshaw commented on #437
this happens with any IFC file that is opened using the referenced revit template linked above.

[2022-04-20 14:01] jlaiph opened #439 "Export linked .rvt in a single IFC file"
I know this is not a new topic to export a single Ifc file from multiple linked revit files. Howvever, it will be great if this feature can this be achieved in Revit rather than go through Navisworks and iConstruct or Codemill IFC Exporter to export the appended files into one IFC model. The current binding process in Revit for the linked .rvt file still result in loss of geometry information.

[2022-04-20 14:15] jlaiph commented on #439
Thanks.

[2022-04-21 07:56] jlaiph opened #440 "Processing Non spatial elements"
I have a less than 1GB  structural elements .rvt file. Whenever exporting it in IFC2X3 coordinate view in Revit 2021, it runs into "Processing Non spatial elements" and freeze there. Is this relate to an unresolvable geometry issue or simply I need to simplify the geometry?

[2022-04-21 13:03] jlaiph commented on #440
I was told that Revit somehow prevent such IFC export while possibly the other designers are still working on the model. Any workaround about this?

[2022-04-21 13:23] jlaiph commented on #440
The problem is no matter how I configure the IFC exporter ( extra low) options, it will stuck somewhere "Processing Non spatial elements" at everytime a different element. So I am trying to export IFC from the central project model while someone else from the other end are still editing their design.

[2022-04-21 13:28] AngelVelezSosa commented on #440
Right, it sounds like there is some element(s) that Revit is having a hard time (performance-wise) processing.  You can either send us a link to your file and we will try to help or isolate an element that by itself creates a large IFC file.  Likely culprits are long thin objects like rails, walls with many sweeps, reveals and openings, or very complex geometry.

[2022-04-21 13:39] AngelVelezSosa commented on #440
There are a number of low-tech and high-tech techniques.
Low-tech: turn off all categories except for one in a 3D view and export only elements in that view.  Does it work?  How big is the IFC file?
High-tech: you can create a script that would export only one element at a time, and look at the size of the IFC files, ranked.

[2022-04-21 13:41] jlaiph commented on #440
Thanks. I will run a script then. That is a good idea.

[2022-04-21 14:31] SDA00 opened #441 "New codification for special character and accent?"
Hello,

On Revit 2022 (without patching) and its basic installed IFC converter, Revit encodes in the ifc the accents and special characters using the unicode.

Example: SEQ+SOL_SIT+Chauss\X2\00E9\X0 for an accent "é" in French

While installing the latest stable version of the IFC exporter on revit 2022 (Release 22.4.1.0), I noticed that the coding has changed.

It is now in the form : Sol:SEQ+SOL

[2022-04-21 14:34] AngelVelezSosa commented on #441
What changed is the toolkit.  The ODA toolkit uses the more compact representation.  The open source itself hasn't changed.

[2022-04-21 14:34] #441 closed

[2022-04-21 16:37] SDA00 commented on #441
Thank you AngelVelezSosa

From which version of the IFC exporter did this change occur?

[2022-04-21 16:38] AngelVelezSosa commented on #441
That's the thing - none, really.  It happened with Revit 2022.1 (and Revit 2023.0).

[2022-04-21 16:46] SDA00 commented on #441
Does this mean that depending on the version of revit, the management of special characters will be different? Is it planned that from version 2022.1 onwards this codification management will not change or will it return with a uniform codification?

If I understand correctly, the problem comes from the revit engine but not from the ifc exporter?

[2022-04-21 17:06] AngelVelezSosa commented on #441
Revit uses a 3rd party IFC toolkit to read and write IFC files.  Before Revit 2022.1, we used the Jotne EDM IFC toolkit.  Since Revit 2022.1, we use the ODA IFC toolkit.  We don't change toolkits lightly - we switched to the EDM toolkit in (calendar year) 2011 from EuroSTEP IFC toolkit before that.

So while we don't expect this to change, it is based on both the ODA toolkit and our continued use

[2022-04-21 20:11] SDA00 commented on #441
Thanks, it was to understand if the change was due to a bug or a voluntary action (update..)

REVIT use https://www.opendesign.com/products/ifc-sdk to manage the export and import of IFC in revit.

The ODA IFC SDK roadmap indicates the beta of "Federated IFC models" in June 2022. This means that Revit could, if developed by ODA, manage the creation of a single IFC from several linked models?

De :

[2022-04-21 20:58] AngelVelezSosa commented on #441
That's already on our public roadmap: https://trello.com/b/ldRXK9Gw/revit-public-roadmap.  We have a plan to do that without needing extra ODA support.  To be clear, ODA has tools that _also_ work with IFC files in Revit; we only use the read/write aspect of the toolkit at the moment (as you can see by looking at the source code here).

[2022-04-25 11:25] ceegartner opened #442 "Revit 2020 and 2021 differences in imported IFC model location"
Hi,

First of all, thank you for all your work with this amazing open-source tool, I am really thankfull :D

I'd like to report an issue I encounterd:

I linked the same IFC file in both Revit 2020.2.8 (addin v. 20.3.3.0) and Revit 2021.1.6 (addin v.21.4.2.0), and once imported into Revit,  they are not placed at the same location:

- In Revit 2020, the model is located near the Revit internal ori

[2022-04-27 15:53] Sim3d commented on #373
Hi! Mr. Ouellette,

Maybe I can help here, I guess have a similar issue ...

When I export a model to IFC format, the color of the pipes in the IFC file are not colored as configured in Revit.

Here the IFC:
[FM.0101.R20_stripped_detached_modifed.zip](https://github.com/Autodesk/revit-ifc/files/8573527/FM.0101.R20_stripped_detached_modifed.zip)

The pipes should be brown like below:

![image](http

[2022-05-02 09:21] MMorsinkhof opened #444 "Flow Units export to Ifc not correct (revit 2020)"
If I export a Revit MEP model to Ifc the exporter(or revit) doesn't use the correct units for the flow parameter. It has to be L/s but in Ifc it becomes ft3/s. This is not correct, this unit isn't even available in Revit (by choosing by the project units).
I tested with base quantities and by a custom pset, both won't let me export the correct units. I also tested it with the unit volumetricFlowRa

[2022-05-03 14:29] Teun1 commented on #398
Here you are - a very simple example
Revit 22.1.21.13
Exporter 22.4.0.0
[220503 NestedWallSweep.zip](https://github.com/Autodesk/revit-ifc/files/8611117/220503.NestedWallSweep.zip)

[2022-05-03 14:47] Teun1 opened #445 "IfcSite with custom Pset and a custom Name"
Is it intentional that a Revit File _without_ Site objects (Topography etc.) always get an IfcSite on export. ( does make sence )
But without the option to override the Name 'Default' ( pitty )
But with the option to attach a Custom Pset based on Revit Project Information Parameters ( nice )

A project _with_ a Site object do not seem to have a ( working ) option to attach a Custom Pset _based on_

[2022-05-06 12:55] dakeret opened #446 "IFC Building is missing in IFC Structure (Revit 2022, Revit 2021.1.6, Revit 2021.1.1) Exporter 21.2.1.0 / 21.2.0.0"
Hello
I switched to Revit 2022 pretty much recently. I was shocked after exporting ifcs out of revit.
The Ifcbuilding is **MISSING** in the structure of the IFC file.
We tested it in Revit 2021.1.1 with the Exporter 21.2.0.0 also, and the outcome is the same.

The Ifc Building is missing: (you only have the ifc project / ifc site)
<a href="https://imgbb.com/"><img src="https://i.ibb.co/NK6n5X2/IFC

[2022-05-06 13:26] dakeret commented on #446
Hi Lejla
It is defined...
<a href="https://ibb.co/mRB0Bww"><img src="https://i.ibb.co/WH303ww/informations.jpg" alt="informations" border="0"></a>
Why should it not export the Ifc Structur right if its not defined? Makes no sense. In the past it was always there just with an empty name. Im just totally exhausted because i need to work on a project and i cant because of this xxx problem.

[2022-05-06 13:46] lejla-adsk commented on #446
Hi @dakeret
You need to check at least one Level to be a "BuildingStory" (Geschossebene), then the IfcBuilding should export as well (just tested with 22.4.0.0 - if no BuildingStory is set, IfcBuilding will not export either).
Have a nice weekend,
Lejla

[2022-05-07 07:50] silverglow opened #447 "Extra geometry reported in variable layer thickness slabs"
Hi, just noticed that slabs with variable layer thickness edited using the Modify subelements tool are exported in a wrong way: there is a vertical extra surface not present in Revit causing a bigger bounding-box and a wrong value of Width and GrossVolume in BaseQuantites tab.
I checked architectural slab and structural slab, both have the same issue.
Attached is a basic model. I used the last 22.

[2022-05-09 07:30] WillemdBr commented on #412
Hi @parrela, I'm using version 20.3.2.0 for a Revit project which is still in 2020.
@AngelVelezSosa  Can this version be fixed? The project on which we're working on is a government project which has BIM guidelines such as the Assembly code.

[2022-05-09 08:09] WillemdBr commented on #412
[TEST.zip](https://github.com/Autodesk/revit-ifc/files/8649820/TEST.zip)
Here is the R20 file so you can test.
Another problem I'm facing now is that not all curtain wall panels are exported, this somehow is a problem which I hadn't had before with this file. .

[2022-05-09 13:24] AngelVelezSosa commented on #412
@parrela can check to see if this is still a problem in 2022/3.  We won't be doing any (non-critical) 2020/2021 updates, especially for export, since the workaround is always to temporarily upgrade to the latest version and export from there.

[2022-05-10 14:19] ziyike commented on #255
@WawanSolihin hey, it's been more than a year since this discussion, it seems like this issue still persists.
While understanding the idea of making sure the information for IfcProjectedCRS being correct, not supported seems worse than being wrong, right?

It seems like a different approach is provided, by mannually entering parameters like ProjectGlobalPositioning.CRSName and more may allow us to

[2022-05-11 06:38] HL-code opened #448 "IfcGrid"
It seems to me theres an issue with exporting IfcGrids when certain shared coordinates are used.
Grids do export if i use Reset Shared Coordinates.
Im using the latest 2022.4 version.
Attached a 2022 project file.

[A-21133.zip](https://github.com/Autodesk/revit-ifc/files/8667315/A-21133.zip)
.

[2022-05-13 04:44] ziyike commented on #255
@WawanSolihin Much thanks for the information! Guess we have to provide addins to support this in previous releases on our own, cuz many of our user groups are stuck at version 2020.

[2022-05-13 04:46] ziyike commented on #255
@AngelVelezSosa Thanks for your response! But I came here for a solution, not a debate.

[2022-05-13 11:23] AngelVelezSosa commented on #255
Hi, @ziyike , not trying to start a debate but trying to understand the requirement.  I often hear that an incorrect answer is worse than no answer, so wanted to hear if that was true for you or not.  Perhaps there are cased where something thar is approximately correct is better than no guidance.

[2022-05-19 07:05] WillemdBr opened #451 "Multiple errors while exporting IFC in 2022"
Hi,

When exporting this Revit file (attached in the next comment) we get this error:
![image](https://user-images.githubusercontent.com/32219489/169227296-98221958-9600-471c-b308-6fa6a4a081fc.png)
The only way is to cancel the export, so no IFC export can be created.

We've searched and tried differend IFC Export settings and finally we've come to the conclusion that the Classification Setting gi

[2022-05-19 07:07] WillemdBr commented on #451
I can't seem to attach the .zip file with the revit file, I get the error: 'is not included in the list' ??

[2022-05-19 07:14] WillemdBr commented on #451
so here is a WEtransfer: https://we.tl/t-NB6z3owJ29

[2022-05-19 14:04] parrela commented on #451
I can reproduce it, will check it out in dev as well and file an item.

[2022-05-23 09:12] Thomas84 opened #452 "Navisworks doesn't show some IFC elements"
I try to open a ifc file, exported from Microstation, BIM Collab and DDSCAD Viewer are showing the bows. Navisworks 2023 doesn't show them. I have tested the modern and v3 option. Anything else I can try ?
If I cannot be sure, that all elements are shown in Navisworks, the whole clash detection process gets useless.
<img width="1120" alt="image" src="https://user-images.githubusercontent.com/56240

[2022-05-23 17:24] parrela commented on #452
Definitely looks fixed in dev

[2022-05-23 20:21] parrela commented on #452
I filed an item for investigation.

[2022-05-23 21:08] Thomas84 opened #453 "IFC Shared Parameter File"
not sure about this, but is this Parameter wrong defined in https://github.com/Autodesk/revit-ifc/tree/master/Source/RevitIFCTools/IFC Shared Parameters-RevitIFCBuiltIn.txt ?
![image](https://user-images.githubusercontent.com/5624034/169906156-f00fbf91-34da-4fa7-b0e6-aed59b6cc46a.png)
https://standards.buildingsmart.org/IFC/RELEASE/IFC4/ADD2_TC1/HTML/schema/ifcproductextension/lexical/ifcspace.htm

[2022-05-26 09:17] Thomas84 commented on #453
Just my 2 cents to that topic of parameters in Revit... I know that you as person is not responsible for that and I have addressed that problem before with the Autodesk dev team. Not sure if there will something happen in that direction.

ye the service. I have tested the preview "parameter service".  As far as I remember the concept of shared parameters has not changed. There are  still the same

[2022-05-27 11:14] Thomas84 opened #455 "Buttons are not in position"
Buttons are not in position in the german language settings and what do you think about renaming "ok" to "save"?
![image](https://user-images.githubusercontent.com/5624034/170688904-c33ba5af-5132-4411-a1a0-0a5714e71da4.png)

![image](https://user-images.githubusercontent.com/5624034/170689721-a1d486d6-6c6e-4b17-86a9-98d4c0ec724f.png)

[2022-05-27 18:25] Thomas84 opened #456 "Classification manager values to IFC"
Revit 2023, IFC4RV:
I try to use the Autodesk Classification Manager (Standard Data Tool) to classify objects with the uniclass system. It creates two parameter for the number and for the description. With the old manual way, I have entered "number : description" and in IFC it was displayed as Identification and Name. But with It doesn't work with two separate parameters.
How can I use the classif

[2022-05-28 13:06] StewartGH1970 commented on #456
Hey Thomas

if you run the COBie Extension Update it will take Classification.Uniclass.EF.Number & Classification.Uniclass.EF.Description and concatenate these into COBie.Type.Category as Number : Description (this depends on what level of priority you have setup under COBie Extension >Setup > Types > Category) - you can then add COBie.Type,Category to IFC export Classification so that it exports

[2022-05-28 17:55] Thomas84 commented on #456
hi @StewartGH1970 ,
I was hoping for, that you look into the thread, thank you 😃

Is COBie used at all in Germany? I never looked into the tool because I think it is used in the UK only. Or should I use just the functionality of the COBie addin for my DIN276 Parameters? What do you mean by "COBie Extension Update" ?

I try to use the classification manager for the DIN276 classification codes (Germ

[2022-05-30 20:00] Thomas84 opened #457 "IfcZone is missing in the Revit Help list"
Shouldn't there the IfcZone class listed for 2022 and 2023 ?
https://help.autodesk.com/view/RVT/2023/ENU/?guid=GUID-EE6C0CF8-7671-4DCC-B0C7-EEA7513C90A9

Is there a easy method to check which classes are supported by the Revit Exporter? Is there somewhere a code snippet in the IFC exporter code where I can see if it is supported?

Thanks, Thomas

[2022-05-30 20:52] StewartGH1970 commented on #457
Thomas

IfcZone can be exported using ZoneName, ZoneClassificationCode, ZoneDescription.

if you want to add multiple Zones per Space you can use ZoneName(n), ZoneClassificationCode(n), ZoneDescription(n) etc

Hope this helps

Graham

[2022-05-31 09:47] WillemdBr opened #458 "Error message with Revit 2022: File is too large to export"
Hi,

We get this error message on multiple Revit file within our Revit 2022 project:
![foutmeldingen IFC export](https://user-images.githubusercontent.com/32219489/171145253-10e5f639-fa83-456c-ab3c-1fd25f10886b.jpg)

Almost every single Revit file has this problem, altough the Revit files aren't much bigger than previous projects in previous Revit versions. Is this a known issue? Any suggestion ho

[2022-05-31 13:28] AngelVelezSosa commented on #458
Is this Revit 2022 RTM or Revit 22.1?  If those errors still occur in Revit 2022.1 (with the latest open source), then the message is incorrect and there is some other issue.  If the error message is correct, you should get a very large IFC file as output and then we can figure out which element(s) are bulking it up.  Often it is long, thin tubes, or walls with many reveals, or complex railings.

[2022-05-31 15:24] AngelVelezSosa commented on #457
Some info is here that can be updated: https://sourceforge.net/p/ifcexporter/wiki/Exporting%20Zones/ - I will check with help to update.

[2022-05-31 16:17] denizmaral opened #459 "Geograriphical North is not exported"
If you translate coordinates like that, it does ignore the project orientation.

![grafik](https://user-images.githubusercontent.com/55183821/171222449-691b4da8-d75d-4638-9cf1-b15fde67edd2.png)

https://github.com/Autodesk/revit-ifc/blob/df1485b9accd598c2912a055af205ee1b03648c7/Source/Revit.IFC.Export/Utility/GeometryUtil.cs#L4657

[2022-06-01 10:09] Thomas84 opened #460 "IFC Upgrade files link does not work in the german Revit help"
https://help.autodesk.com/view/RVT/2023/DEU/?guid=GUID-4EED7335-DCC7-48AD-A8BD-8156CAB27A33
The link to the IFC Upgrade files are not working in the german language settings of the Revit help. I suggest to replace the link to https://www.autodesk.com/revit-ifc-specific-files-enu until a german version of the upgrade files exist. Or maybe there is a german version of the files, but the link is not

[2022-06-09 09:09] gvanolst commented on #434
Even with the workaround I still have problems with Revit 2022 and 2023. I can link the attached IFC-file in Revit 2021 and then link it to Revit 2022 but I can't link it directly in Revit 2022.

[87368-2000-001 machine deel 1.zip](https://github.com/Autodesk/revit-ifc/files/8868773/87368-2000-001.machine.deel.1.zip)

[2022-06-10 02:18] Moult opened #461 "Where are the Revit shared parameters installed?"
In this document https://blogs.autodesk.com/revit/wp-content/uploads/sites/110/2022/02/09/revit-ifc-open-bim-manual-en.pdf

It says: "The most relevant among these are the IFC Shared parameter files which are used to add IFC properties to Revit. These are stored in: C:\ProgramData\Autodesk\ApplicationPlugins\IFC 20xx.bundle"

I don't have this folder on my machine. Where is it installed? I've also

[2022-06-10 02:20] Moult opened #462 "Missing parameters for EPset_MapConversion and ProjectedCRS for geolocation in IFC2X3"
I cannot find these parameters so whenever we want IFC2X3 models to include georeferencing data it becomes a problem and we need to customise the shared params files. Can they be added?

[2022-06-10 02:38] Moult opened #463 "Cannot set vertical datum and other custom parameters for projected CRS data"
How do I set the vertical datum to an EPSG code?

[2022-06-10 02:40] Moult commented on #290
Unfortunately the latest install from https://apps.autodesk.com/RVT/en/Detail/Index?id=7265544480016320144&appLang=en&os=Win64 still is outdated and does not have this fix so it is still broken for users.

[2022-06-10 02:53] Moult opened #464 "Revit stores the wrong unit for the map conversion easting northings"
It seems as though Revit always follows project units instead of the map units. This contradicts the agreed convention here: https://github.com/buildingSMART/IFC4.3.x-development/issues/5

Map units should also be allowed to be excluded.

[2022-06-10 07:12] WawanSolihin commented on #290
The last update for Revit 2021 is release 21.4.2.0. We focus on Revit 2023 and Revit 2022 updates from now on due to high level of incompatible changes from the latest to the older versions.
But I brought some fixes, mainly related to the mapunit in IfcProjectedCRS. I have posted the draft release for 21.4.3.0 here https://github.com/Autodesk/revit-ifc/releases/tag/IFC_v21.4.3.0 . This change work

[2022-06-10 12:25] Thomas84 commented on #461
Hi @Moult,
I have old Revit versions on my machine, and until Revit 2021 the path seems to be correct. But I have downloaded them from https://github.com/Autodesk/revit-ifc/tree/master/Source/RevitIFCTools
I have looked into the parameters in that files and as mentioned [here](https://github.com/Autodesk/revit-ifc/issues/453), they are not complete, because some Revit specific parameters are missi

[2022-06-10 12:26] #460 closed

[2022-06-11 23:28] Moult commented on #461
Yes indeed, but for users on 2021 or 2022, where should they find the shared param files? From their local install? Download from Github? Which link? From a user perspective just reading the manual it seems unclear.

Also what's the difference between the shared params files here https://github.com/Autodesk/revit-ifc/tree/master/Source/RevitIFCTools ? Type? Type_ALL? Type_ALL_grouped? Which one sh

[2022-06-12 02:03] AngelVelezSosa commented on #461
We are working obsoleting all of this by using the new Parameters Service (in tech preview at the moment).  This will eliminate duplicates and have one source of truth for these parameters moving forward.

[2022-06-12 02:58] Moult commented on #461
Is that going to be made available to Revit 2020? 2021? 2022? 2023?

[2022-06-13 23:38] Moult opened #465 "Revit doesn't differentiate between grid north and true north"
Setting the angle to true north on the project base point seems to export it both in the xaxisabscissa/xaxisordinate of the map conversion (i.e. grid north rotation) as well as in the true north rotation. How do I control grid north independently from true north? How do I set the true north?

Grid north and true north are not the same. This has been incorrectly named in Revit for a long time unfor

[2022-06-13 23:54] Moult opened #466 "Scale does not affect spot coordinates"
The scale factor should affect spot coordinates such that project ground surface distances and grid distances (i.e. as seen via spot coordinates) should differ by the scale factor.

Unfortunately right now it seems as though Revit treats the designer as designing in map grid coordinates which is not correct.

To replicate:

1. Draw a wall of (ground surface) length 100m.
2. Set up IFC epsg.
3. Set

[2022-06-14 00:08] Moult commented on #205
Can this be reopened? It's 2 years later and still not fixed as far as I am aware.

Getting type names correct is critical and most Revit users stick in in a random field like Type Mark, Mark, Keynote, Comment, or some new invented one... none of these is what Revit chose to expose through the UI: which is simply the family type name.

Users are still confused, IFC exports from Revit are still low

[2022-06-14 10:57] Thomas84 commented on #461
My guess is, that the "parameter service" is a "cloud users only" feature (as far as I know). If you don't have access to BIM360 / ACC you cannot access the parameter service. A standard Revit user can see that there is a tool "Parameter Service", but cannot access it.

I hope there will be in the future a better solution for parameters, because the concept of the actual shared parameters is not g

[2022-06-14 12:34] AngelVelezSosa commented on #461
Keep in mind that everything I say from this point onward is based on my limited knowledge and/or speculation.
I believe that the "parameter service" is a cloud system, similar to bsDD, and will likely continue to be.  It solves the inherent problem of the "shared" part of shared parameters, in that they are not easily globally shared.  You are right that there are two aspects to parameters: (1) t

[2022-06-14 13:36] MagneGanz opened #467 "Splitted elements get inconsistent IfcGuid"
If you export to IFC with the option "Store the IfcGUID in an element parameter after export" and then split the wall,
the two Wall elements will have the same value for the parameter IfcGuid. When you export to Ifc the second time, the smallest (or newest?) wall element will in the IFC file get a new IfcGuid, BUT this new IfcGuid will not be written back to Revit. What happens next, is that this

[2022-06-24 21:35] EtiennevdBa opened #471 "ifcDoors doens't have all data 21.4.2.0"
when exporting only the door, i'm getting all the data i want, when i'm exporting the whole project, 1 door doens't have all the data is should have.

[2022-06-28 23:27] Moult opened #472 "EPSG code always clears after input"
On export, I have found behaviour using the latest IFC 2021 https://apps.autodesk.com/RVT/en/Detail/Index?id=7265544480016320144 where after typing an EPSG code such as 7856, if the focus is lost (e.g. via tab key) from the EPSG input field in the export dialog, the input field is cleared and therefore the export doesn't let me specify an EPSG code.

How can I further debug this?

[2022-06-29 08:27] Moult commented on #284
Confirming this is fixed with the Github release, but when is it going to be available on the app store? The app store for 2021 seems to be still quite outdated: https://apps.autodesk.com/RVT/en/Detail/Index?id=7265544480016320144&appLang=en&os=Win64

Perhaps from now one we should be recommending consultants to install from Github, not from the app store?

[2022-06-29 08:52] Moult opened #473 "Object type parameter is not set at type element"
If I have the following type parameters in Revit, I expect to see:

IfcWallType, with PredefinedType=USERDEFINED and ObjectType=FOOBAR

But instead I see IfcWallType, with PredefinedType=USERDEFINED and ObjectType set to null.

Instead, the ObjectType=FOOBAR is set at the IfcWall occurrence, which is not correct.

![image](https://user-images.githubusercontent.com/88302/176394446-342c4465-a316-4db

[2022-06-29 08:55] Moult commented on #395
Not sure where IFC4.3 is relevant here, This bug is relevant to IFC2X3 and IFC4, regardless of MVD.

[2022-06-29 09:05] Moult opened #474 "Predefined types are not overridden correctly"
Similar to https://github.com/Autodesk/revit-ifc/issues/473 how would I correctly set the type element to have NOTDEFINED and a single occurrence overriding that value?

[2022-06-29 09:09] Moult opened #475 "Basic ceiling does not follow IfcExportAs setting and is hardcoded to CEILING"
I recall most system families had this incorrect behaviour but it seems as though ceilings are still not fixed.

[2022-06-29 09:12] Moult commented on #171
So, one year later, has there been any progress?

[2022-06-30 14:18] COWImgbj opened #476 "Steel beams with different start and end level and structural connections are exported wrong"
Using 22.5 IFC exporter (unsure if it was a problem with earlier version) it seems that the steel fabrication element generated when using steel connections does not have the correct end points when exported to IFC. It seems to be completely horizontal, and the end elevation the same as the start elevation.

Beam start Revit
![image](https://user-images.githubusercontent.com/58807838/176699672-216

[2022-06-30 14:26] AngelVelezSosa commented on #476
We will look into this - do you have a simple sample file you can send to angel.velez@autodesk.com?

[2022-06-30 14:52] COWImgbj opened #477 "Parts of walls are missing when exported using 22.5"
This seems to be a bug in 22.5. Some walls have parts missing when exported. From what I can see, it seems to only happen when walls are cut and attached to other elements.

Example 1

Revit
![image](https://user-images.githubusercontent.com/58807838/176707919-8c5db2c2-9b5c-4b0a-b874-576105dda844.png)

IFC
![image](https://user-images.githubusercontent.com/58807838/176706941-2f0452bf-0035-4e98-a6d

[2022-06-30 16:10] AngelVelezSosa commented on #467
v22.5 is still in progress on the GUID work, but we will in any case make sure that split elements work as expected.

[2022-07-01 07:56] Moult commented on #353
A consultant recently made me aware of this bug and is asking for advice.

I've just checked all versions since the latest release for Revit 2021 and the bug seems present all the way until v21.2.1.0. So this has been broken since July 2021 I guess. Happy birthday bug!

Currently the only solution I can give is to downgrade, unfortunately. Is there a timeline for this to be solved?

[2022-07-01 14:00] AngelVelezSosa commented on #353
Is this a bug in Revit 2022 or Revit 2023?  We won't likely have more Revit 2021 updates.

[2022-07-08 05:18] Moult commented on #353
This is a bug in Revit 2021. Are you sure this cannot be backported? Large projects move slow, and this type of bug also has the largest impact on large projects.

[2022-07-08 05:26] Moult opened #478 "Length properties export with imperial conversion wrongly applied"
Potentially the same as #199, but maybe not.

1. Add new instance parameter "Foo" of type Number
2. Fill out number with value, say 4000
3. Export IFC using user defined parameter sets config of "Foo Length"
4. IFC exports the parameter of Foo with a value of 1219200 instead of 4000

Suspiciously 1219200 / 4000 = 304.8, so it looks like a unit conversion.

Note this doesn't happen when the paramet

[2022-07-08 06:58] Moult opened #479 "IfcBuildingStorey does not export with base quantities"

[2022-07-08 09:59] jmirtsch opened #480 "Option to prevent export of IfcAdvancedBrep"
I'd like to seek opinions on an export option for IFC4 Design Transfer View to prevent IfcAdvancedBreps.
Not many implementations support this concept well.
From my testing, Revit will often not try and detect extrusions prior, so IFC files can be larger than they need to be.

IFC4 Reference view does not include many semantic concepts (eg material layers) that are needed for exchange workflows,
h

[2022-07-08 10:25] jokopperud opened #481 "Fascias and Wall Sweeps not able to override IFC Class from BuildingElementProxy"
I'm trying to eliminate elements exported as BuildingElement Proxy IfcClass. This has been unsuccessfully even though i am setting them as another IfcClass in the IFC options and also using the "IfcExportAs" parameter. The Fascias and Wall sweeps are nonetheless exported as BuildingElementProxy category. Is there another way to do this?

[2022-07-08 13:52] AngelVelezSosa commented on #480
If advanced BReps are a problem (and I can understand how they are/would be), it seems like better solutions would be:
1. Implement a "fallback" similar to that being used in IFC4.3, and most importantly
2. Create an MVD that would support this, given that DTV doesn't actually exist.

[2022-07-08 15:23] AngelVelezSosa commented on #478
So what should happen in this case?  Should the value be taken at face value, so that if you export with display type meters vs. exporting with display type millimeters, it stays as "4000"?  Is this user error in the sense that there isn't enough information to make an informed decision here?

[2022-07-08 15:25] AngelVelezSosa commented on #353
In general, no one has to downgrade - you can have a version of Revit 2023 around that is used only to export to IFC.  This of course is just a workaround since it is time consuming.  If this particular bug is particularly dangerous, we could patch the 2021 version on GitHub to contain this fix.

[2022-07-11 08:38] HL-code opened #482 "IfcOpeningElement – Location/depth issue"
Attached small file with one wall and a window.
On "Link IFC" back into Revit the opening is "lost".
This is similar to how some openings sometimes disappear in IFC viewers.
The opening is actually present just not cutting all the way through the wall.
In this case the opening leaves 4mm of the wall thickness uncut.

(picture here)
https://www.screencast.com/t/uZSDT3N9tu
[IfcOpeningLocation.zip](h

[2022-07-11 08:58] HL-code opened #483 "IfcOpeningElement - Option to not create these as separate elements"
While we need a void in the wall, we do not need the opening itselft as a separate element.
Heres an example of what i mean:
https://www.screencast.com/t/CPjnlJZkrSn

All the grey elements in this picture are "IfcOpeningElement".
Normally created as "Generic Models" they are somewhat hard to remove.

We cant turn off the "Generic Models" category because there might be other elements in that categ

[2022-07-11 13:35] EmiliaRa commented on #479
I have the same problem. IfcSpace also doesn't have some or any properties in Qto_SpaceBaseQuantities (Revit 2023.0.1 and Revit 2022.1.3).

[2022-07-12 06:44] erfajo commented on #353
I do understand your worries Angel, and I am sure that your resources are not unlimited.

However, as a larger driver of you being able to sell software in Autodesk, you also need to respect why we point towards your software. One major reason to choose Autodesk is the history of being able to maintain older projects, such a history is a key point to any owner. There is surely other software much

[2022-07-13 10:58] pedersenjpp opened #484 "Custom Pset not exported"
Custom Pset not exporting.

![image](https://user-images.githubusercontent.com/66945389/178715626-357551a6-3d5e-49fe-9d63-d24a3aced531.png)

DiKon_Classification is not created, All other custom Psets are created just fine.
Simply cannot find whats different from these entries.

[2022-07-13 11:09] cadexchanger-admin commented on #434
@gvanolst, the problem with missing IFCOWNERHISTORY in the file from ifc-file.zip archive has been resolved in the new CAD Exchanger version 3.12.0!
@AngelVelezSosa, thank you so much for explaining the issue! We really appreciate as it helped our developers to fix this bug. Good luck and best wishes from CAD Exchanger team!

[2022-07-13 12:54] AngelVelezSosa commented on #484
Can you try removing the comment from the middle of the definition to see if that helps?  Actually, is there a type there where you missed a "PropertySet:"?  I see Level and TypeName are defined twice.

[2022-07-13 13:10] pedersenjpp commented on #484
Started a file from the bottom with no comments and had the same issue.

Found out that Visual Studio Code as a default has indent detection on, and replaces tab with 4 spaces, Thus breaking the changes I made to the file.

Thanks for your help anyways.

[2022-07-13 13:10] #484 closed

[2022-07-15 07:47] Moult commented on #478
Yes taking a "number" as face value sounds like a sensible solution, given that the user has not provided units.

[2022-07-18 12:58] sangik-dev opened #485 "Is it possible processing check while IFC Export?"
When export Revit to IFC, i don't know the time when finished.

Revit shows process status for a while, but it stop soon.

![image](https://user-images.githubusercontent.com/99519317/179515498-174ecdb7-c079-4736-be62-cd6be780a631.png)

I want progress bar.
Is it possible?

[2022-07-22 02:31] sangik-dev commented on #411
I have smae issue.
Is it fixed?

[2022-07-25 00:40] Moult commented on #480
The two big players that don't support IfcAdvancedBreps are Solibri and Trimble.

I think the bigger issue than IfcAdvancedBReps being unsupported by those two is that Revit seems to unnecessarily use IfcAdvancedBReps for things that could easily be an extrusion or polygonal face set instead. Advanced BReps should only be used for... well, advanced things.

[2022-07-25 00:42] Moult commented on #481
As far as I am aware, there is no solution. However what I do is edit the user defined parameter mapping file such that the IfcExportAs and IfcExportType fields are exported (by default they are excluded), so that when a client asks why the IFC classes are wrong, I can point them to those parameters and say that we did our best, but unfortunately that's the limit of Revit's capabilities.

[2022-07-25 00:43] Moult opened #486 "Not possible to disable default Uniformat classification system?"
We don't use Uniformat. How do I disable it from being exported? It seems to always be there.

[2022-07-25 00:52] Moult opened #487 "Classification attributes missing when specified in export settings"
I have set this in my IFC export settings for IFC4 Design Transfer View.

![image](https://user-images.githubusercontent.com/88302/180673534-404db150-d87d-4497-b494-4379957c0cf3.png)

Only the source and edition fields are populated in the resultant IFC. The rest is ignored.

![image](https://user-images.githubusercontent.com/88302/180673576-bd526756-547a-496d-9af6-f4d7e848db06.png)

[2022-07-25 00:53] Moult opened #488 "Cannot set IfcClassification description or reference tokens"
There seems to be no way to do this.

[2022-07-25 00:55] Moult commented on #439
Why is this closed? The functionality still does not exist so the problem is still outstanding so this should be opened.

[2022-07-25 00:59] Moult opened #489 "Classification reference is created twice leading to invalid IFC"
Here is my setting in Revit:

![image](https://user-images.githubusercontent.com/88302/180674135-c45e9b0a-0abd-4679-8188-83f66221a387.png)

Here is the output in IFC - the reference is assigned twice. This only happens when the parameter is set to ClassificationCode, which probably leads to the double up.

![image](https://user-images.githubusercontent.com/88302/180674172-737e53a4-110e-4b8e-a0e1-4

[2022-07-25 01:09] Moult commented on #184
This is still broken 4 years later.

[2022-07-25 04:59] Moult opened #490 "How do I exclude specific spaces from being exported?"
I used to set "DontExport" in IfcExportAs but it seems as though this feature has been removed. What is the new method?

[2022-07-25 06:29] Moult commented on #457
@StewartGH1970 are you sure that "ZoneName(n)" works? Shouldn't it be "Zone n" (i.e. no brackets, with a space separating the number and the zone string)?

[2022-07-25 08:00] jlaiph commented on #439
Hi, the reason is this will be a redundant proposal.  Anyway, quick solution for me now is to merge multiple IFC files using a third-party software.

[2022-07-25 13:48] WawanSolihin commented on #490
Which version have you started to notice this? I do not think it is deliberately removed, but it may be affected due to change with the builtin parameters "Export to IFC", "Export to IFC As", "Predefined Type" in Revit 2023.
I think if you set "Export to IFC" = No, it behaves the same as IfcExportAs="DontExport"

[2022-07-25 23:05] Moult commented on #490
I just checked the master branch and grepped for "DontExport" and didn't find anything, so I was wondering what method replaced it. Good to hear that "Export to IFC" = No is a thing. Is there an easy way to migrate this parameter?

[2022-07-26 16:45] StewartGH1970 commented on #457
oops my bad - glad someone is paying attention.

ZoneName, ZoneClassificationCode, ZoneDescription then ZoneName 2, ZoneClassificationCode 2, ZoneDescription 2 etc as per https://sourceforge.net/p/ifcexporter/wiki/Exporting%20Zones/

[2022-07-28 17:05] theoryshaw opened #491 "IfcWindow's 'OverallHeight' attribute doesn't have the correct Height value with skylights..."
IfcWindow's 'OverallHeight' attribute doesn't have the correct Height value with skylights...
detailed discussion: https://community.osarch.org/discussion/1062/wrong-height-of-ifcwindow

[2022-07-28 17:48] AngelVelezSosa commented on #491
Good timing on this, since we are actually looking at this at the moment.

[2022-07-29 05:54] Moult commented on #439
It's not a redundant proposal - the result still cannot be achieved.

[2022-07-29 06:54] TZwielehner commented on #154
Please fix ASAP! We need this every day!

[2022-07-29 10:35] WillemdBr commented on #451
@parrela / @WawanSolihin  What is the status of this issue? Issue is still present in the nieuwest Revit / IFC exporter versions. With this issue we can't have our classifications in IFC, which is essential for reading and checking IFC models

[2022-07-29 12:09] WillemdBr commented on #458
@AngelVelezSosa  We still have this issue on different Revit 2022 projects. Latest update from Revit and Latest update for IFC export are installed.
My experience is that this issue is very random. IFC exports sometimes work one day with the same Revit model, but the next day or next attempt The IFC export doesn't work and we get this error message

[2022-07-29 12:42] AngelVelezSosa commented on #458
Have you been having any other issues with these files?  The fact that it is sporadic is odd.  Are you using Revit 2022 or Revit 2022.1?  We switched IFC technology between these releases so the error conditions could be different between the two.

[2022-07-29 12:59] AngelVelezSosa commented on #154
I am curious - why does this need to be a single IFC file?  Could you create one IFC file per phase?

[2022-07-29 13:03] AngelVelezSosa commented on #439
I assume he meant that it was redundant to the Revit public roadmap, but I have no issues with it also being open here.
I do have one question as I look into this:
What is the expected tree structure for a federated IFC file?  Is it one IFCBUILDING per link, all under the same IFCSITE?   Is there one IFCSITE/IFCBUILDING per file?  Do they all share the same IFCBUILDING/IFCSITE?  I would think it w

[2022-07-29 13:15] jlaiph commented on #439
That is an interesting question. I would like to know as well. For me, it should be user defined. The "3rd party" software I am using now is able to define "Same IFCSite", "Same IFCBuilding" or "Same IFCFloor" in such hierarchy. The reason is I have received IFC files from external, most of the time they only have IFCProject and IFCSite with wrong coordination exported. Most of the time I cannot s

[2022-07-29 13:35] TZwielehner commented on #154
Demolition is not a phase. It's a status. Revit or IFC don't know a "demolition phase". There is only a diff between later phase and earlier phase.

[2022-08-03 15:02] COWImgbj commented on #348
@AngelVelezSosa Any progress on this?

This seems to only be affecting the Fabrication Elements(bolts, plates etc.), and not the actual structural connection element. They export as IfcBuildingElementProxy with psets, IfcGUID and BATID, but any plates/boltes hosted inside the connection element as subelements or modelled standalone are not exported correctly.

![image](https://user-images.githubus

[2022-08-03 16:33] AngelVelezSosa commented on #348
Let me check on the status of this.

[2022-08-05 14:25] AngelVelezSosa commented on #432
Hi @Teun1 , we are looking at this issue and are very confused :)  In particular, this seems like an odd case.  In particular, we have a case where you are trying to insert a skylight into a curtain roof.  Now, the standard workflow for adding a skylight to a curtain roof is to create a panel in the curtain roof and make it be the skylight.  In this case, though, you are trying to cut the curtain

[2022-08-05 16:22] parrela commented on #432
A separate roof opening cut would do it, and the skylight placed in it.

[2022-08-08 00:09] Moult opened #492 "Exporting with properties or various settings are extremely slow"
Download the RAC advanced sample project here for Revit 2021: https://knowledge.autodesk.com/support/revit/getting-started/caas/CloudHelp/cloudhelp/2021/ENU/Revit-GetStarted/files/GUID-61EF2F22-3A1F-4317-B925-1E85F138BE88-htm.html

Export setting | Time
--- | ---
IFC4 DTV, export only shown in view (default 3D view), psets disabled, base quantities enabled | 45s
IFC4 DTV, export only shown in view

[2022-08-08 03:02] AngelVelezSosa commented on #492
Geometry is the bottleneck only if there are tessellation operations in affect that generate large numbers of triangles for a number of reasons.  For DTV specifically, there should never be any tessellation, so geometry conversion is relatively fast.  There is some translation, but that's not a big deal.

Properties, on the other hand, have a Revit API that can use some optimization (and is an act

[2022-08-08 03:54] Moult commented on #492
Right. So is there a fix or anything I can do apart from case by case assessing each new consultant file for the properties we're interested in and providing a user defined property mapping file?

[2022-08-08 08:14] Moult opened #493 "User documentation on when "(Type)" is appended to pset names?"
Is there any documentation for this? There seems to be a paragraph of comments but even then it would take a bit of source diving and testing to check for exactly what types of entities would trigger it. Can anyone help elucidate this?

[2022-08-08 12:52] AngelVelezSosa commented on #493
@WawanSolihin - I think we have some.  But basically only if no type entity is exported.  This used to be more common but now generally only happens with IFC2x3 and only for the small number of entities that have no corresponding type.

[2022-08-08 13:25] Moult commented on #493
@AngelVelezSosa what I don't understand is that I have a Revit file here where there is a building element proxy being exported from a family for ceiling access panels. One of the types of that family, and only one, have the (Type) suffix, and the other type does not. Building element proxy types do exist in IFC2X3, so I'm not sure what's going on.

[2022-08-08 13:56] AngelVelezSosa commented on #492
We are working on parameter export performance.  In the meantime, yes, you can decide what are the properties you want.  You can do user defined property mapping file, or you can also create schedules that you would export to IFC (for each schedule, you can determine if it is exported to IFC or not).  The latter takes a little more work but you can see exactly what data would end up in your IFC fi

[2022-08-08 15:58] parrela commented on #451
I found that this doesn't happen in the latest versions - coming out shortly. I can't say when.

[2022-08-08 23:37] Moult commented on #493
@AngelVelezSosa I've attached a minimal sample Revit file along with the IFC export it produces. There are corresponding types for every single occurrence in this model, so in theory I should not see any (Type) suffix. However, the door on the bottom floor which has been overridden to be exported as an IfcPile has psets on its type that have the (Type) suffix. Why?

[Project1.zip](https://github.c

[2022-08-08 23:38] Moult opened #494 "No way to control the generation of IfcSpaceType"
There are two possible scenarios for a user to want:

 1. Not every occurrence needs a corresponding type. So, don't generate IfcSpaceTypes.
 2. IfcSpaceTypes have semantic meaning, and so there should be a 1:N relationship between IfcSpaceType and IfcSpace, instead of 1:1 which Revit seems to do.

[2022-08-08 23:46] WawanSolihin commented on #451
I think it might be fixed in 22.5.1 and 23.1.1. I will check it later today.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: parrela ***@***.***>
Sent: Monday, August 8, 2022 11:58:15 PM
To: Autodesk/revit-ifc ***@***.***>
Cc: WawanSolihin ***@***.***>; Mention ***@***.***>
Subject: Re: [Autodesk/revit-ifc] Multiple errors while exporting IFC in 2022 (Issue

[2022-08-09 03:15] Moult opened #495 "Properties duplicated on occurrences when already specified on type"
I've noticed during exports that when a property exists on a type, I can also see it on the occurrence despite the value being identical. This seems to be invalid: IFC specifies that properties shall be inherited from the type so there is no need to repeat them.

[2022-08-09 17:04] AngelVelezSosa commented on #495
We don't duplicate it on purpose (in fact, I don't think we ever do it, which is why I'm curious).  Do you always see this or in specific circumstances?  Do you have a small sample?

[2022-08-09 18:31] SIAARDK commented on #256
I use IFC export v.22.5.0.0 and I get the following issues:

### **Not Checked: Export IFC common property sets in the export setup:**

**Object exported as IfcRoot - no IfcType:**
Name - Name Exported _(Correct)_
Type Name - Not exported _(Incorrect)_
Predefined Type - None _(Correct)_

**Object exported as IfcRoot.Flat_Roof:**
Name - Flat_Roof _(Incorrect)_
Type Name - Not exported _(Incorrect)_

[2022-08-09 18:59] AngelVelezSosa commented on #256
@WawanSolihin can you take another look?

[2022-08-09 19:03] WawanSolihin commented on #256
Just to confirm: This is export to IFC2x3 or IFC4?
If IFC2x3, the result on Type is correct. In IFC2x3 there is NO IfcRoofType entity. The IfcRoofType entity is only introduced from IFC4.
I will take a look at the FLAT_ROOF predefinedtype issue

[2022-08-09 19:09] SIAARDK commented on #256
My findings is from IFC2x3.
You are correct the Flat_Roof Predefinedtype IFC2x3 vs IFC4.

For IFC4 I don't see data in _Type Name_ as well.

[2022-08-09 20:57] jmirtsch commented on #495
It's a recent change where type properties are not duplicated on instances isn't it?  My understanding is that this duplication has been the behaviour for some time.
This relates to my recent report, as there is no relating type to an IfcSystem, that some revit system type parameters are no longer exported to IFC.

[2022-08-09 21:24] AngelVelezSosa commented on #495
Well, the "correct" behavior is supposed to be:
1. Anything that can get a type entity in IFC and has a type in Revit, does.
2. Anything that doesn't have a type in Revit, doesn't.
3. If there is an instance and a type, the instance gets instance properties and the type gets type properties.
4. If there is an instance and no type, the instance gets instance and type properties (assuming there was

[2022-08-09 23:15] Moult commented on #495
The sample file I provided in #493 has a beam where the Pset_BeamCommon IsExternal is repeated on the type and the occurrence, both with the same value of "False". Also, the IfcCovering repeats the Pset_CoveringCommon ThermalTransmittance value on the type and occurrence. There are probably more, I just randomly clicked a couple of elements and those where what I found.

[2022-08-10 00:21] AngelVelezSosa commented on #495
Ah, that's different.  Those are Pset_* property sets.  I'm confused about what the behavior should be. Doesn't pset_beamcommon apply to both instance and type?  Wouldn't it therefore be potentially repeated?  Are you saying that pset_* should only apply to the beam or the type?

[2022-08-10 00:22] AngelVelezSosa commented on #495
Beam instance or type, sorry, typing on phone.

[2022-08-10 00:26] Moult commented on #495
If the property is inherited from the type, there is no need to define it twice.

[2022-08-10 14:59] AngelVelezSosa commented on #495
OK, that is an interesting case.  IsExternal in Revit is a calculated parameter, in the case that if it isn't supplied, in some cases it will be determined.  But I think what we can do is that calculated parameters shouldn't ask the type for information; if both the instance and type are being exported, and we have a calculated parameter, then it should only be calculated for the instance and type

[2022-08-11 00:56] Moult opened #496 "Wall gross side area and net side area are identical"
The gross side area should take into account openings, but it doesn't, so the values are identical.

![image](https://user-images.githubusercontent.com/88302/184047468-7fddff01-6257-4b15-93ff-86a63e71f183.png)

[2022-08-11 00:58] Moult opened #497 "Non-applicable quantities still export despite ifcExportAs"
I've overridden a wall to be an IfcFurniture, but it still exports with Qto_WallBaseQuantities

[2022-08-11 01:11] Moult opened #498 "Column quantity take off completely wrong"
What's going on here?

![image](https://user-images.githubusercontent.com/88302/184048335-fecb69f6-0a31-4119-8dce-dfebde690bb4.png)

[2022-08-11 02:30] Moult opened #499 "How to export light sources to IFC?"
I'm trying to export a Revit light source to an IfcLamp so that I can specify the lamp type (e.g. LED) and properties. Is this possible? I've tried and only the light fixture seems to come through.

[2022-08-11 04:20] louistrue commented on #498
[]()https://github.com/Autodesk/revit-ifc/issues/361

[2022-08-11 04:22] louistrue commented on #361
Any news on this? Its causing some major problems fo us ans STILL no fix!

[2022-08-11 04:23] louistrue commented on #498
Its only been 10 month 😉

[2022-08-11 05:48] Moult opened #500 "Revit cannot export multiple enum values for a property enumerated value"

[2022-08-11 05:56] Moult opened #501 "Attributes cannot be set to NULL in IFC"

[2022-08-11 13:45] AngelVelezSosa commented on #501
Care to elaborate on the workflow?  What attribute, where?

[2022-08-11 13:46] AngelVelezSosa commented on #500
Is that an IFC issue or a Revit issue?  What's the property in Revit that should go out as multiple enum values?

[2022-08-11 13:48] AngelVelezSosa commented on #498
What version of Revit/IFC exporter are you using?  Do you have a sample file?  We've recently done a lot of work to get parameters/quantities out in the right units (which means the right values).

[2022-08-11 15:15] AngelVelezSosa commented on #497
Thanks - we will root out the places where the quantities aren't paying attention to how things were actually exported.

[2022-08-11 16:45] StCwi commented on #477
also have the same problem with 22.5.1.0

[2022-08-11 17:12] AngelVelezSosa commented on #477
We are actively working on an issue relating to this and are trying to make sure we don't fix two problems and regress on a third, so would appreciate a sample file with your particular flavor of issue to make sure our fix actually addresses your issue.  We are also working on putting more regression tests in place for edge cases of wall cuts, so that would help us also.

[2022-08-11 20:08] parrela commented on #497
This doesn't happen for me - I get only the expected stuff. Could you send me a trivial model with your settings? I will check it out.

[2022-08-11 22:59] Moult commented on #498
Revit 2021 with the latest release for Github. Sample file is the one posted in #493

[2022-08-11 22:59] Moult commented on #496
It's case 1. Sample file in #493.

[2022-08-11 22:59] Moult commented on #497
Sample file in #493

[2022-08-11 23:00] Moult commented on #500
Revit issue: e.g. I should be able to set status (e.g. in pset_wallcommon) to multiple values.

[2022-08-11 23:01] Moult commented on #501
Any attribute. For example, how do I set IfcName or IfcObjectType to null?

[2022-08-11 23:03] Moult opened #502 "Revit incorrectly uses the ObjectType attribute"
The object type attribute is meant to be used when predefined type == userdefined, and that's when the object type serves as a "user defined predefined type" field.

Revit seems to populate the object type with the type name, which leads to a lot of confusion when IFC beginners think that that's the IFC type name, and I have to keep on telling them no, it's just Revit that's misusing the field.

I

[2022-08-14 23:54] Moult commented on #153
This is still broken 2 years later.

[2022-08-15 01:06] AngelVelezSosa commented on #153
It's not broken, it was just never implemented.  That said, it's on our public roadmap and is actively being worked on.

[2022-08-15 04:03] Moult commented on #493
Any updates? Having another coordination meeting today where this is brought up. So far the solution is that we have to ask all Revit users to run a Python script to patch their IFCs.

[2022-08-15 09:13] louistrue commented on #361
just did. Now there are no Base Quantities exported at all for beams. Columns work fine:
![Snag_4f7fbe](https://user-images.githubusercontent.com/78563314/184608878-86075b05-67a0-43ab-b1c5-d4c90c08b2ab.png)
![Snag_4f805b](https://user-images.githubusercontent.com/78563314/184608881-dcad918e-8f02-4b42-90c0-ea88fa81033a.png)
![Snag_4f80e7](https://user-images.githubusercontent.com/78563314/184608886

[2022-08-15 12:46] AngelVelezSosa commented on #493
I suspect that the issue here is around the specific case where different instances of the same family type have been overridden to export to different types.  The door that is an IfcPile doesn't have a corresponding type because its type is an IfcDoorType (which is presumably even used by other actual doors).  So there is a workaround for you and two possible solutions for us:
1. Workaround: don'

[2022-08-15 16:38] WawanSolihin commented on #493
I will take a look at the issues. Generally, the behavior should be according to what Angel mentioned, but to confirm it I will run a little test

[2022-08-16 06:26] BIMLUND commented on #154
@TZwielehner: A easy workaround that works from Revit 2022: Create a view with Phase 0 (before demo). Then create a filter that only shows elements with Parameter "Phase Demolish". Since Revit 2022 you can now use "Phase Created" and "Phase Demolished" in filters. And it works to export demolished elements if the Phasing in the view is set to a phase when the element is not demolished yet. We use

[2022-08-16 12:47] TZwielehner commented on #154
This partly works, however, if we insert a window in an existing wall the "demolished" opening does not receive this phase parameters. For intersecting walls an opening is  created, that's a minor issue. What is not exported however are basic properties like the status (Pset_WallCommon.Status) which would allow more granular filtering.

[2022-08-17 07:17] Moult commented on #493
That sounds plausible. I do have another much more complex file where this has occurred which will take a bit of time to confirm that it has the same cause (off the top of my head, it might be different since I do not recommend consultants override instance based IfcExportAs - that was just there in my test file). What other causes might there be?

[2022-08-17 13:03] AngelVelezSosa commented on #493
I'm not sure - I mean for an older version there may be other reasons but for a modern version of Revit that's the only reason I can think of.

[2022-08-18 11:41] GS-AKucsvan opened #503 "Some elements are exported with BREP geometry instead of Extruded"
**Description:**
Geometry exporting is not as good as was before. There are multiple situations when exports BREP geometry instead of Extruded, but in previous editions could do this without problem. I attach a simple file to reproduce this feature loss. And of course in a case of an circular profile the difference could be huge.
![DifferenceBetweenRevitIfcExport2022vs2023](https://user-images.git

[2022-08-22 06:58] GS-AKucsvan opened #504 "Not all user defined properties go out with export"
Some user defined property/property sets does not go out during export.

Repro:

1. Open rac_basic_sample_project.rvt sample file
2. Set the attached UserDefinedPropertySets
3. Make an Export
4. Some user define property Sets and properties goes out but some does not

This works correctly before (Revit 2022)
[UserDefinedParameterSets.txt](https://github.com/Autodesk/revit-ifc/files/9391968/UserDef

[2022-08-23 08:44] HL-code commented on #500
Your question seems non-sensical to me.
Its like saying a car cant have two drivers in the drivers seat at the same time.
IFC default psets are somewhat limited.
Just create your own psets and you can do whatever you want.
No limits.
Thats what any organized project do in the Nordics.

You know Moult... i do not work at Autodesk never have never will.
But given your history of publicly critizing R

[2022-08-23 08:52] PeterTranberg commented on #424
I am having the same Issues here, maybe this is time where the addin should be fixed to support positioning by Shared Coordinates ;-)

[2022-08-23 10:29] Moult commented on #500
@HL-code it sounds like you don't understand the question. In IFC, enumerated properties can have multiple values. This is nothing to with default psets versus custom psets. This is just basic IFC functionality. Which Revit does not support, hence the bug.

All these bugs are created because it's been faced by a consultant or myself on a live commercial project. It's not me trying to find random i

[2022-08-23 16:42] AngelVelezSosa commented on #500
I do want for the record to state that I appreciate that @Moult 's comments here are intended in the spirit of cooperation and to mention issues that are affecting him.
For the specific issue above, perhaps I misunderstand Pset_WallCommon.Status.  It seems to be defined as:

P_ENUMERATEDVALUE / [IfcLabel](https://standards.buildingsmart.org/IFC/DEV/IFC4_2/FINAL/HTML/schema/ifcmeasureresource/lexic

[2022-08-23 17:28] louistrue commented on #500
`IfcPropertyEnumeratedValue

Definition from buildingSMART: A property with an enumerated value (IfcPropertyEnumeratedValue) defines a property object which has a value assigned which is chosen from an enumeration. It defines a property - value combination for which the property name, the value with measure type (and optional the unit) are given.

# NOTE: Multiple choices from the property enumera

[2022-08-23 19:37] AngelVelezSosa commented on #500
The devil is in the note.  Thanks, I'll create an item for that.

[2022-08-23 23:28] Moult commented on #500
I guess it's not just the note, it's also the plural name "EnumerationValues" and the data type of "LIST [1:?] OF IfcValue".

I'm happy @AngelVelezSosa appreciates these reports, it is a lot of work to test, verify, and source-dive. About half of these reports on behalf of others too, which takes time to interpret and distill down into the exact cause.

[2022-08-24 08:50] Teun1 commented on #432
Hi @AngelVelezSosa and @parrela, thanks for looking into this!
This is certainly an odd case ;-). The solution is to address the said warning. We were just curious why the exporter was having trouble with exporting a Family with a Revit error. But perhaps we should ignore this specific problem, and simply fix the Revit model. We can do that.

Just a thought on some improvement for the IFC exporter

[2022-08-24 10:48] BIMLUND commented on #439
I agree @AngelVelezSosa. I would say same IFCBuilding under the same IFCsite. But ofcource it would be nice to choose an option when exporting.

[2022-08-24 13:39] AngelVelezSosa commented on #439
An option is possible.  Using the same site or building does mean that we would then only use the Psets for the site or building from the "main" file and ignore values from the linked files.  I think what makes sense is something like the following:

[ ] Include Linked Files: As separate IFC, As separate sites, As separate buildings, As same building (I'll need to think about the wording).

[2022-08-24 13:44] Moult commented on #439
One very common usecase is where the disciplines divide the model into multiple Revit files: architectural, mech, elec, hyd, fire, etc. The arch model has Revit rooms (IFC spaces) but the others do not (or shouldn't, or have it linked or copy monitored / etc). I know it's adding more complexity, but if there was a solution to also somehow allow the services models to be merged (i.e IFC contained i

[2022-08-29 10:38] rlpJakobSteiner opened #505 "Revit Slab to IfcSite does not work with modified points"
Revit Slab to IfcSite does not work with modified points. Without modified point class is populated correctly.

[2022-08-29 15:22] rlpJakobSteiner commented on #505
It splits the Revit slab into triagels of class IfcSlab. Somehow the seem to be related to an object IfcSite -> see screenshots:
![Slab to IfcSite_1](https://user-images.githubusercontent.com/112389951/187236145-20f77711-64a9-40fc-b92c-19ad5ab89126.jpg)
![Slab to IfcSite_2](https://user-images.githubusercontent.com/112389951/187236167-467fb7e1-9eb4-4eb0-a734-f43a20e8963a.jpg)

[2022-08-29 15:30] rlpJakobSteiner commented on #505
I suppose that revit splits the slab into subparts that revit shows as one but they are exported separatly to a group into revit. If there is no inheritance of IfcExportAs or IfcExportAs[Type] implemented that would explain why the parts of the slab change there class assignation.

[2022-08-29 17:44] AngelVelezSosa commented on #505
So you are saying that the default export to slab works correctly, but trying to export to site does not?

[2022-08-30 07:13] rlpJakobSteiner commented on #505
Not really. See screenshots:
In Revit 2 Slabs (Geschossdecken in german) are definded and ifcSite is defined als export class.
![Slab to IfcSite_1_220830](https://user-images.githubusercontent.com/112389951/187373047-a5596a30-a67a-41da-9b01-64edb0a78290.jpg)

One of this slabs is modified with the point modification tool.
![Slab to IfcSite_1_2_220830](https://user-images.githubusercontent.com/1123

[2022-09-02 09:26] WillemdBr commented on #458
Hi, no other issues. But we updated the IFC exporter to 22.5.1.0 and still the error occurs:
![image](https://user-images.githubusercontent.com/32219489/188109038-eeb710d4-c1e1-4023-8022-88e40c2437df.png)
[PIB01-B-BWK-B-R22_Error Report.zip](https://github.com/Autodesk/revit-ifc/files/9476753/PIB01-B-BWK-B-R22_Error.Report.zip)

[2022-09-03 05:23] louistrue opened #506 "No material layers exported to IFC 2x3 (Rvt22 22.5.2.0)"
We are not able to export individual material layers of multilayer walls/floors to IFC 2x3:

![image001 (1).png](https://user-images.githubusercontent.com/78563314/188257024-2275544a-22f2-4783-8a31-a9714434e268.png)

It works as expected for IFC4:

![image002 (1).png](https://user-images.githubusercontent.com/78563314/188257043-3c507056-e1e3-45e1-bae2-94b6651b7780.png)

Is this a bug or has it nev

[2022-09-03 06:13] louistrue opened #507 "Some IfcOpening always get exported, no way to disable (Rvt22 w 22.5.2.0)"
We have tried several ways to disable the export of opening elements, but some (not all, inconsistently) always end up in the IFC:

![snagit1.png](https://user-images.githubusercontent.com/78563314/188258306-596df788-2240-48eb-8f13-16115f946b70.png)

![snagit2.png](https://user-images.githubusercontent.com/78563314/188258311-3e65a591-b126-43f5-b3c3-df0067818870.png)

![snagit5.png](https://user-im

[2022-09-05 17:45] AngelVelezSosa commented on #439
What do you mean by "merged"?  Do you mean that the MEP models would be contained in the spatial hierarchy of the architectural spaces?

[2022-09-05 22:51] Moult commented on #439
Indeed. Cobie and IFC BEM both require all maintainable assets (mostly services) to be contained in spaces that they are to be maintained from (typically found in the arch model).

Current workarounds are either to copy paste rooms (which we tried unsuccessfully) or to manually enter in and patch afterwards (which is what we now instruct all services to do).

[2022-09-05 22:57] Moult commented on #91
Resurrecting this since cobie and Bem define doors maintainable and expect them to be contained in a space.

The solution is to the contained in either the to or from space. If the other (to or from) is also wanted, IFC references spatial structure should be used.

The diagram shown by @klacol is not valid IFC and should not be followed. Zones are not part of the spatial hierarchy. Both rels used

[2022-09-06 03:10] AngelVelezSosa commented on #439
I'll have to see if Revit itself supports placing a linked object in a host space.

[2022-09-06 11:19] manelmarib opened #508 "Problem exporting a wall with a cut void"
When exporting a wall with a cut part made by a void, we experienced the following:
![image](https://user-images.githubusercontent.com/112946224/188622866-dc264da0-142f-4b37-9db2-fdd48d49bcff.png)

Exporter v.22.5.1.0
RVT 22.1.30.34

[2022-09-06 13:33] manelmarib commented on #508
[REV PARA IFC.zip](https://github.com/Autodesk/revit-ifc/files/9497414/REV.PARA.IFC.zip)

[2022-09-07 10:35] JoepvanMotman opened #509 "Classifications"
Since latest updates the export is not going correct on classifcations like the Assembly Code. I get a different classification for each occuring Assembly code.

[2022-09-08 01:56] Moult opened #510 "Fabrication ductwork generates hundreds of duplicate IfcElementTypes"
I'm noticing a lot of fabrication models have a lot of IfcElementType classes with an identical "Tag" (i.e. Revit element ID). Each element type only has a single occurrence. This basically defeats the purpose of having an element type. Is there a way for Revit not to split out these into separate IfcElementTypes?

Note that the duct types do not have geometry, so it is not a problem of representa

[2022-09-08 02:00] Moult opened #511 "IFCs with "sharp" triangulated faces cannot have spot elevations or spot coordinates"
We get IFCs from 12D of terrain and various civil things which naturally have TINs. Portions of the triangulated meshes which are fairly regular triangles work fine and we can use the Revit spot elevation / spot coordinate tool fine on them. However if even a portion of the TIN has very obtuse triangles (e.g. triangles where one of the three internal angles is < 0.3 degrees) then the entire mesh "

[2022-09-08 03:36] AngelVelezSosa commented on #511
This may be because Breps don't allow such sharp triangle edges vs meshes do, but Revit meshes may not allow spot elevations.  Let me check with the geometry people on this.

[2022-09-08 03:39] AngelVelezSosa commented on #510
This should be fixed in the newest version.  Basically, fabrication elements shared their geometry in a slightly different way and we had to update the export to take advantage of that.  I *think* that solves this problem.  If not, give us a sample file that shows the issue.

[2022-09-08 06:19] Moult commented on #510
Great! Where can I find the newest version? The consultants are using the latest 2021 (potentially even 2020) version from Github releases.

[2022-09-08 06:38] Moult commented on #511
For anyone else running into this issue I've now bundled a patch with the BlenderBIM Add-on: https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.7.0/src/ifcpatch/ifcpatch/recipes/Fix12DToRevitTINs.py

You can run it graphically in Blender - specify an input IFC, an output IFC, and press run.

![2022-09-08-163819_412x297_scrot](https://user-images.githubusercontent.com/88302/189052040-ed7f8578-53a

[2022-09-08 12:42] AngelVelezSosa commented on #510
Please test on the Revit 2022 or 2023 version.  That way I can know if this issue has been resolved, just not in 2020/2021, or if this is another manifestation of the same problem.

[2022-09-08 15:13] AngelVelezSosa commented on #506
Sorry for the delay on this.  Can you provide more detail perhaps with a trivial sample file?  I'm not sure exactly what result you are looking for.

[2022-09-08 19:31] louistrue commented on #506
IFC 4 with individual layers:
![image](https://user-images.githubusercontent.com/78563314/189208292-5dc6fd66-4a6f-49a8-973e-86fe04d78c46.png)

2x3 without layers:
![image](https://user-images.githubusercontent.com/78563314/189208451-3f8b49fe-fad9-4c0a-8253-5479ab52e326.png)

![image](https://user-images.githubusercontent.com/78563314/189208477-4d3a267f-3fb5-499b-8c5c-32326b337d04.png)

[IFC.zip](h

[2022-09-08 19:35] parrela commented on #497
This is fixed previously - using your file I see the difference between your IFC file and my new one.

[2022-09-08 19:35] parrela commented on #497
[Project1_dev.zip](https://github.com/Autodesk/revit-ifc/files/9530063/Project1_dev.zip)

[2022-09-09 12:44] Teun1 commented on #506
Perhaps the folowing link will give you some information that you are looking for.
https://github.com/Autodesk/revit-ifc/issues/120#issuecomment-707727484
The main difference at the moment, is that the IFC4 is supported by more and certified software.
(in reaction to what I said in that 2 year old post)
https://technical.buildingsmart.org/services/certification/ifc-certification-participants/

[2022-09-09 12:57] louistrue commented on #506
Thanks @Teun1 , but I'm not talking about parts. These are multilayer objects with standard export settings for IFC 2x3 and 4.

Layers get exported only with IFC 4

I think it used to work for 2x3 as well some time ago but I'm not sure...

[2022-09-09 13:57] Teun1 commented on #506
As far as my knowledge / memory goes it has been this way.
As you can see multilayer did at least not show up in 2019 (when exporting with IFC2x3)
Using parts was only a workaround to get somewere (and resulted in a different question ;-) ).

[2022-09-09 14:25] WawanSolihin commented on #506
This is an expected behavior. In IFC2x3, the wall layers are represented in the IfcMaterialLayer, which may be shown in the property of the Wall in some viewers, whereas the geometry is the overall wall.
Only in IFC4 RV 1.2 MVD, the wall layers (slab too) will be split into its component (using geometry items in the Architecture exchange, or as IfcBuildingElementPart in the Structural exchange).

[2022-09-09 14:35] louistrue commented on #506
Thanks for clarifying @WawanSolihin 👍
One more reason to ditch 3x3, i guess...
Whats the reason structure gets buildingelementparts? Precast concrete?

[2022-09-09 14:35] #506 closed

[2022-09-09 14:38] WawanSolihin commented on #506
The main reason if I am not wrong is that the structural applications handles the layers as individual elements, therefore they are exported as individual IfcBuildingElementPart and aggregated into IfcWall

[2022-09-12 11:58] AW-MARH commented on #509
we have the same issues with 22.5.1.0.
22.5.0.0 works fine

[2022-09-12 15:22] manelmarib opened #512 "Type IfcGUID of IFC Element Type changes"
Exporting from Revit 22.1.30.34, and IFC Exporter v 22.4.2.0

While inspecting the IFC, we found that the first IFC Element Type of each IFC Element maintains the Type IfcGUID stored in the built-in parameter. For example, lets take the **2MA3PEWKzCK8No7IHIMBLz** and look for it in the IFC:

![image](https://user-images.githubusercontent.com/112946224/189691554-3c270425-8969-4559-91ce-9391a526f8d8

[2022-09-12 16:16] AngelVelezSosa commented on #512
The code did the right thing in not duplicating the type GUID.  The code did not do the right thing in duplicating the slab type, if it is indeed identical.  In the latest versions, we have addressed both those issues: (1) we have consistent GUIDs for all guids in the file and (2) we do a better job of not duplicating types.  If you see the same issue in the latest version, please let me know.

[2022-09-13 07:33] BIMLUND commented on #348
I was messing around and found a workaround in Revit 2022.1 at least.
Tried IFC-export: 22.5.2.0

Weirdly: Do NOT check "Include steel elements".
![2022-09-13 09_33_06-Modify Setup](https://user-images.githubusercontent.com/81314195/189839115-f34eab56-40af-4676-95c2-778f1b0b2235.png)

Set the IFC mapping table to export Proxyelements of all Structural connections:
![elemnt](https://user-images.git

[2022-09-13 09:07] manelmarib commented on #512
Will try with the latest IFC Exporter version, and we will let you know.
Thanks for your reply @AngelVelezSosa

[2022-09-13 09:41] manelmarib commented on #512
RVT 22.1.30.34 - Exporter 22.5.2.0 @AngelVelezSosa
We just did an export and still having duplicated types, with same ID but different GUID.
![image](https://user-images.githubusercontent.com/112946224/189868155-6d084aeb-7e8c-4ce1-bcb3-089a9a6977a9.png)
![image](https://user-images.githubusercontent.com/112946224/189868297-3ae08f02-018f-4500-bdd9-e49ea85bf469.png)

[2022-09-13 09:47] manelmarib commented on #508
We came back to the 22.4.2.0 so we could solve this, but we need to change to the newest version of the exported to solve other issues... so is it possible to check this on new releases?

[2022-09-13 13:38] loek17 commented on #154
This would be a good addition, having the possiblity to filter by a status (as discused in #250) or by the parameters "Phase Demolish" and "Phase Created" within a IFC is also preferred by me. This was the way we did it in NWC we would like to keep doing this when we switch to IFC.

It would also solve confusing when exporting by view (with Phase Filter set to None). Currenlty the ifc exporter wil

[2022-09-13 13:59] AngelVelezSosa commented on #508
Yes absolutely.  We will add this case to our regression testing so that there is no regression once it is fixed.

[2022-09-14 02:04] Moult commented on #510
I just checked and the model is still on 2020 unfortunately. I'll find some time to test on later versions, but in the meantime is there a fix I can give them within Revit, or does the IFC need to be patched externally?

[2022-09-14 13:19] AngelVelezSosa commented on #510
I patched up the open source for 2022/3, so it's fix_able_ but hasn't been fixed.  I don't think there's anything to do in Revit itself.

[2022-09-16 14:10] Moult commented on #15
Happy 4th birthday!

[2022-09-16 15:07] AngelVelezSosa commented on #15
While this isn't yet explicitly on our public roadmap : https://trello.com/b/ldRXK9Gw/revit-public-roadmap, this is on our extended roadmap (which is still "things we intend to do" vs "things we'd like to do someday, maybe").  For all the reasons listed above, mapping a 3D shape with relations to objects/virtual boundarues (IFC) to an element that's defined by a level, a couple of offsets and a po

[2022-09-16 17:34] LostinBIM commented on #15
Thanks for the quick reply.

Well if I understood correctly what you meant then sure that could work. If by "associating" or automatically creating our MEP Spaces in Revit could be done according to whatever the fitting Revit category for the conversion of ifcSpaces would be.

And if that was what you meant then what comes to mind next are a couple of other possible issues:

1. The first problem i

[2022-09-16 17:47] tsolsen commented on #15
Sure.
- Any time we receive a existing building, or take over a design proposal, as an IFC
- Opens up the ability to receive the room-program from the client, and load it into Revit as a native area, room or space

If anything, I'd rather have the IFC load, create the rooms in Revit but not place them, rather than the current behavior where the IfcSpace is placed as geometry, not spacial geometry.

[2022-09-16 18:33] AngelVelezSosa commented on #15
There's a lot to parse there, but to your first issue, IfcSpaces should be mapped to a _subcategory_ of Generic models, so you should be able to turn them off independent of the rest of the Generic Models.  We are actually looking to make that even more useful by having _nothing_ in IFC map to Generic Models, but instead to a sub-category of the same name.  Right direction for that?

[2022-09-17 08:58] lejla-adsk commented on #15
Just wanted to give you a heads up about this free add-in which might be useful for certain workflows as it pulls all room data from an IFC file and imports it to the current Revit project (there is a detailed video on this page): https://apps.autodesk.com/RVT/en/Detail/Index?id=5175665021513349789&appLang=en&os=Win64

[2022-09-19 00:47] Moult commented on #511
Any feedback on this? I recently realised what it's not just the angle sharpness of the triangles which makes a difference, it's specifically the XY (2D) angle. So if you have a triangle that looks alright in 3D but is sharp when viewed from above (i.e. XY) it creates issues.

[2022-09-19 01:28] AngelVelezSosa commented on #511
My expert was out when I asked the first time so I just pinged him again to remind him of the issue.  Will get back to you as soon as I hear from him.

[2022-09-26 11:53] BasRongenSPIE opened #513 "Components are missing when using IFC4"
Mail me for the files. I've also created a ticket (19541322).

When using IFC 3x2 everything exports. But using IFC 4 a lot is skipped:
![image](https://user-images.githubusercontent.com/70643737/192269735-6c936fe4-2d44-4fb8-bf15-842df1e3d6e8.png)

[2022-09-26 12:42] AngelVelezSosa commented on #513
I don't have direct access to the tickets but should see it soon (if it isn't already on my JIRA board).  When you say IFC4, do you mean reference view?

[2022-09-26 12:53] BasRongenSPIE commented on #513
Thank you for looking into it.

To answer your question: no, I’ve used IFC 4 Design Transfer.

Met vriendelijke groet / Yours faithfully,

Bas Rongen
BIM Manager

Mob:       +31 (0)6  22 58 70 53
***@***.******@***.***>
SPIE Nederland B.V.
Energies
Hoogspanningslijnen- en stations
Huifakkerstraat 15
NL-4815 PN Breda
www.spie-nl.com<http://www.spie-nl.com/>

From: AngelVelezSosa ***@***.***>
Sent:

[2022-09-26 13:48] AngelVelezSosa commented on #513
OK, Design Transfer isn't "real".  There was a lot of promise for a Design Transfer View for IFC4 for a long time but now it will probably never materialize.  We have updated the UI to reflect that, to make it clear that this is "at your own risk" in the sense that it doesn't reflect a real MVD.  So it is possible that the data is there but the viewer doesn't show it.  What happens when you try to

[2022-09-26 14:16] mathib commented on #513
@AngelVelezSosa some more context: the Revit file contains quite some complex geometry coming from Inventor. The resulting IFC2x3 export was pretty big (+500MB) for a rather small model (number of objects). We're trying to get better result by exporting to IFC4 using the Design Transfer MVD.

Perhaps we better rely on IFC4 Reference View or do you expect the size to be similar to IFC2x3 TC1 Coordi

[2022-09-26 14:24] AngelVelezSosa commented on #513
Well, I do recommend simplifying the Inventor geometry if you don't need the detail.  I believe Inventor does have shrinkwrapping - do you need your Inventor data in all of its glory in Revit?
What is your concern about the file size?  You can significantly reduce the file size by exporting as ifcZIP, which is a compressed format.  IFC4 RV has more compact meshes, but then you will get meshes whic

[2022-09-26 14:37] BasRongenSPIE commented on #513
We're looking into reducing the 'glory' on the inventor side. Because we need more objects than just the [top-level-components ](https://knowledge.autodesk.com/support/inventor/learn-explore/caas/CloudHelp/cloudhelp/2022/ENU/Inventor-Help/files/GUID-9F0E010C-2295-4021-BB77-89C119ACDA1A-htm.html#:~:text=each%20top%20level%20component%20) we're forced to use the rfa export functionality for every ob

[2022-09-26 14:40] rdfeij commented on #402
Hello, I have the same Issue.

Is there a solution for this?

[2022-09-26 14:41] rdfeij commented on #402
@AngelVelezSosa ,  can you have a look into this?

[2022-09-26 14:49] AngelVelezSosa commented on #513
@mathib : I would agree that BReps are better than meshes.  It's important to figure out what the usage is for these BReps to make sure we set the right expectations for functionality.  The _primary_ use should be around referencing, but if there is an intention for shared editability, it is important to understand what that is.

[2022-09-26 14:52] AngelVelezSosa commented on #402
I believe that is on our list of short-term issues to address; I'll verify.

[2022-09-28 12:34] DuncanLithgow commented on #486
In Revit 2022 if the assembly code parameter is empty it doesn't seem to add a Uniformat classification when I have specified something else under Classification Settings.
[Project1_R22.zip](https://github.com/Autodesk/revit-ifc/files/9664894/Project1_R22.zip)

[2022-09-28 12:36] Moult commented on #486
No, the bug still exists, it's still in there:

[code]

[2022-09-29 10:30] manelmarib commented on #512
any update on this? @AngelVelezSosa

[2022-09-29 10:30] manelmarib commented on #508
any update on this? @AngelVelezSosa

[2022-09-29 16:37] louistrue opened #514 "No base quantities for Floors/IfcSlab in Rvt22"
No base quantities exported for IfcSlab with latest exporter version...

[2022-09-29 16:38] louistrue opened #515 "Not all base quantities for Floors/IfcSlab in Rvt23"
In Revit 23 with latest exporter version, base quantities get only exported to IFC4 (Reference view, structural) for some slabs. Others get no base quantities...

[2022-10-03 07:20] louistrue commented on #514
[SlabsRvt.zip](https://github.com/Autodesk/revit-ifc/files/9695410/SlabsRvt.zip)

[2022-10-03 11:44] SvenAmiet commented on #508
Hello, I've got the same problem here. any news on this?

[2022-10-03 14:28] DonnyVA opened #516 "Model in-place not cut with void family"
Hi all,

A model in-place is not cut with a void family.
A nwc export is fine.
I have attached the Revit file.

![image](https://user-images.githubusercontent.com/114932556/193601314-edae55f4-6161-402c-8e10-43305352ee4e.png)

Running:
IFC version 21.4.3.0
Revit 2021.1.5

[Model in-place wall and void.zip](https://github.com/Autodesk/revit-ifc/files/9698320/Model.in-place.wall.and.void.zip)

[2022-10-03 20:33] h-iL opened #517 "ShapeAspect has a different name with its associated MaterialConstituent"
From the BuildingSmart [documentation](http://ifc43-docs.standards.buildingsmart.org/IFC/RELEASE/IFC4x3/HTML/lexical/IfcMaterialConstituent.htm), it suggests that using a `MaterialConstituent `name, we should be able to find its matching `ShapeAspect`.

![image](https://user-images.githubusercontent.com/80236301/193674940-60d47ab3-aa54-4c61-8baa-ad23be1838a4.png)
http://ifc43-docs.standards.buildi

[2022-10-03 20:36] AngelVelezSosa commented on #517
@WawanSolihin?

[2022-10-04 02:19] WawanSolihin commented on #517
The design of export with IfcShapeAspects and IfcMaterialConstituent is to match them, i.e. uses the same information (name) for both associated instances.
To help us investigate the issue, could you share with us the Revit model and the IFC file that exhibit this reported issue?

[2022-10-04 05:23] h-iL commented on #517
Thank you for looking into this @AngelVelezSosa @WawanSolihin.
Absolutely! Please find attached revit and ifc file for reference.
[01-WallCornerLayers.zip](https://github.com/Autodesk/revit-ifc/files/9702989/01-WallCornerLayers.zip)

[2022-10-04 13:20] WawanSolihin commented on #517
Thanks. I will take a look and get back to you once I know the reason

[2022-10-04 13:40] WawanSolihin commented on #517
There seems to be a bug in the export when there is material layer that has 0 thickness (which should be ignored), that gets included in naming the IfcShapeAspect. This causes inconsistency between the material constituent and the shapeaspect. I will log a defect into our system.

[2022-10-04 16:09] h-iL commented on #517
Ahh.. Good to know..thanks @WawanSolihin! :)

[2022-10-06 15:02] AndreasFleischmann2111 opened #518 "Levels are not exported to IfcBuildingStorey in Revit 2023"
I created a new blank RVT and added 10 Levels. All Levels are marked as BuidlingLevel.
For one Level I added a Floor object

When I export the IFC 4, only the Level with Floor is exported. The others are not exported.

How can I export all 10 Levels, even I have no geometry attached to it?

PS: I forgot to mention that the IFCExportOption is set to "ByType". If I select "Yes", all floors are expor

[2022-10-06 16:29] AngelVelezSosa commented on #518
We don't export empty levels to any IFC schema.  Are you testing, or is there a use case for exporting empty levels?

[2022-10-06 17:38] AndreasFleischmann2111 commented on #518
Thank you for the quick answer.

In early LOD 100 phases of buidling studies, architects are designing just levels and volumes for each floor level to calculate room volumes etc.
Ifc export is required to drive our elevator engines to build elevator LOD 100 models. Architects need the elevator room spaces for these calculations.

Honestly i am not sure whether architects have always assigned at le

[2022-10-06 17:51] AngelVelezSosa commented on #518
I don't think it would be a big deal to export levels marked as building storeys even if they are empty.  I'd be curious to know what others think.

[2022-10-06 19:15] Teun1 commented on #518
We sometimes make an IFC and/or Revit file with only Levels, Grids and an 0-point object. Just for coordination purposes.

[2022-10-06 19:41] jmirtsch commented on #518
I would vote for all building stories to be included in the IFC, culling the stories without elements/spaces doesn't really make sense to me.

[2022-10-07 07:47] andydandy74 commented on #518
We regularly have the same use case as @Teun1 - current workaround is to place a random object on each level. Would be nice if this export limitation for levels could be lifted.

[2022-10-07 07:58] AndreasFleischmann2111 commented on #518
@Teun1 : More or less, your use caes is the same, that I tried to explain (in my long explanation). For coordination purposes we need to know all building levels.

[2022-10-07 08:10] AndreasFleischmann2111 commented on #518
What would be the process to make this change happen?
Who is reponsible for the acceptance?

The change itself is easy, see my image below.

![image](https://user-images.githubusercontent.com/58511570/194505312-613b0ed6-a9c8-4bb3-ab0d-4209e046a42c.png)

Thank you for taking care, Andreas

[2022-10-07 08:23] Martin15135215 opened #519 "When will IFC4.3 be supported?"
I like to know, when we can estimate, when will Revit be able to export to IFC4.3?

Something like a roadmap

[2022-10-07 11:20] lejla-adsk opened #520 "Is Revit Plate an IfcMember or IfcPlate?"
We have a requirement from a customer where a client is requesting all parts of a steel connection to be exporting as IfcMember. It seems we cannot currently override the class for a Revit plate and it's always exported as an IfcPlate.
Question: Does anyone have similar requirements? From your point of view, does it make sense to export Revit Plates as IfcMember?

[2022-10-07 12:46] AngelVelezSosa commented on #518
Hi @AndreasFleischmann2111 , I have been convinced and will make the appropriate changes accordingly.  It's safer for my team to do it internally to have all of the proper testing done on the change (which is more or less what is suggested above).

[2022-10-07 14:54] AngelVelezSosa commented on #519
That's not a simple question to answer.  There are a number of factors.
1. We are working on "basic" IFC4.3 export.  It is explicitly on our roadmap: https://trello.com/b/ldRXK9Gw/revit-public-roadmap which is a list of things we plan to do sooner than later.  I am not allowed to give you an exact timeframe.
2. IFC4.3, while it is "final", is not "final final" because it hasn't been ISO certified

[2022-10-10 12:17] eibre opened #521 "IfcGUID for Rooms changes every time if "Store the IFC GUID in an element parameter after export" is checked"
In Revit 2022: IfcGUID for Rooms changes every time the same file is exported if "Store the IFC GUID in an element parameter after export" is checked in Advanced Export settings. We tried to upgrade to the newest exporter here: https://github.com/Autodesk/revit-ifc/releases/tag/IFC_v22.5.2.0

![image](https://user-images.githubusercontent.com/5968613/194864229-b739641f-5bee-4370-ad3e-3a883e300c5f.

[2022-10-12 04:32] Moult commented on #290
I can confirm that this is fixed in 2021 and above. Hooray!

[2022-10-12 04:36] Moult commented on #464
Confirming that this is fixed in Revit 2021. I had tested this with 2020.

[2022-10-12 04:36] WawanSolihin commented on #290
Great!

[2022-10-12 04:59] Moult opened #522 "Revit should not link IFCs and make project north = grid north"
When linking in an IFC, the +Y axis of the IFC (which is project north) ends up pointing to Revit's true north. Project north should stay as project north. This was working in Revit 2020 but seems broken in 2022.

[2022-10-12 05:00] Moult opened #523 "Revit cannot export properties of an IfcSystem"
I tried editing user defined property sets and couldn't manage to get psets out from an IfcSystem (i.e. something in Revit's system browser). How do I do this?

[2022-10-12 11:08] #464 closed

[2022-10-12 13:57] WillemdBr commented on #509
@WawanSolihin what's the status on this issue? We are getting the same result with 22.5.1.0. As mentioned above 22.5.1.0 works fine.
![Classification issue](https://user-images.githubusercontent.com/32219489/195362799-ab5ad3ba-1195-4a28-9cdb-3109baefaa96.jpg)

[2022-10-12 14:13] parrela commented on #402
[REVIT-171615] is submitted to Revit 2022. @MisunMartin have you tried it in that version of Revit?

[2022-10-12 14:22] WawanSolihin commented on #509
Do you have sample test file for this?

[2022-10-12 14:33] parrela commented on #515
I don't see this myself - could you attach a model that shows the problem? Thanks, I will check it out and file an issue.

[2022-10-13 01:26] Moult opened #524 "Revit duplicates a lot of fitting types"
Not sure if this is related to #510 but on Revit 2021 (sorry, I know it's annoying with bugreports of older versions but such is the reality of enterprise software adoption in large companies) but I'm seeing regular (non-fabrication) pipe fittings having lots of duplicate types. For example, a single pipe fitting (i.e. one Revit Element ID) is coming through as 68 separate IfcPipeFittingTypes. In

[2022-10-13 02:01] Moult opened #525 "IfcExportType sets PredefinedType to NOTDEFINED for certain objects"
I've got a Revit 2021 project where IfcExportAs is set to IfcFlowMeterType and IfcExportType is set to WATERMETER. The IfcExportAs works, but the PredefinedType is set to NOTDEFINED.

Another combination with the same issue is IfcValveType and PRESSUREREDUCING.

[2022-10-13 02:26] AngelVelezSosa commented on #524
If you could reduce the file to a non-proprietary example of a pipe fitting coming through as even 3 separate types, we could take a look.

[2022-10-13 02:29] AngelVelezSosa commented on #525
Can you include a file with just those two combinations?  I definitely see WaterMeter in the code.

[2022-10-13 04:34] louistrue commented on #515
NetWeight, NetArea and GrossWeight is missing on all slabs
Width and Length only exported for some slabs
GrossVolume, GrossArea and Depth fails to export for a few as well

![Snag_304bd2a](https://user-images.githubusercontent.com/78563314/195502061-582a04f9-2ab3-439f-a46a-8fc260887c92.png)
![Snag_304bd59](https://user-images.githubusercontent.com/78563314/195502064-3dfa5042-1300-4115-bdee-0cc6638

[2022-10-13 13:15] WillemdBr commented on #509
@WawanSolihin can I send the files only to you in a different way than through github where everyone can download them?

[2022-10-13 13:19] AngelVelezSosa commented on #509
Send them to me at angel.velez@autodesk.com.

[2022-10-13 15:46] AndreasFleischmann2111 opened #526 "BUG: Modifying "Type IFC Predefined Type" in Family Type Parameter Box does not work"
Hello,

I am tryining to assign an IFC Export Type and "Type IFC Predefined Type" in the Family Type Parameter box.

Unfortunately the "Type IFC Predefined Type" Value will not be set and is moreover readonly. How can users set this parameter?

![image](https://user-images.githubusercontent.com/58511570/195643586-79167190-abd8-4b0f-811b-049061b9a0cf.png)

[2022-10-13 15:58] AngelVelezSosa commented on #526
We've identified this bug and have a solution in the works.  The workaround for now is to do that in the project environment.

[2022-10-13 16:36] AndreasFleischmann2111 opened #527 "Revit family instance containing just 8 lines are not exported to IFC"
I am havin a family instance. The family consists just of 8 lines:

![image](https://user-images.githubusercontent.com/58511570/195654378-f23bc73b-aad1-40a9-bef1-e49b72c2e390.png)

If I insert this family into a RVT, the IFC export ignores this family instance at export.
If I add some geometry, e.g an extrusion that instance is exported.

Question: Why does the family instance do not export?

[2022-10-13 16:40] AndreasFleischmann2111 opened #528 "Exporting other Parameters than just the default parameter"
I am having the family below. When I export the IFC, I am not able to export the VDI parameter shown in the right side sample ( export from Archicad).

Question:
How can I archieve that?
![image](https://user-images.githubusercontent.com/58511570/195655151-fe68ed02-7a6f-4f62-98f3-c58719ae0c63.png)

Question 2:
How can I define the "Name" property?

![image](https://user-images.githubusercontent.co

[2022-10-13 16:42] AndreasFleischmann2111 commented on #526
Thank you. When will the different fixes become available?

[2022-10-13 17:11] AndreasFleischmann2111 commented on #528
Q1 is solved. Explanation is here:
https://bimcorner.com/exporting-ifc-from-revit-part-3-user-defined-properties/

Can you still help on Q2?

[2022-10-13 17:18] louistrue commented on #528
@AndreasFleischmann2111
Add a Revit Parameter called IfcName: https://youtu.be/1DVluDqkjPA

[2022-10-13 17:27] AngelVelezSosa commented on #526
I'm sorry, I'm not allowed to give promises for future releases due to US federal accounting rules for publicly traded companies.  I can just tell you that we've already identified the issue and know of a fix.

[2022-10-13 17:29] AndreasFleischmann2111 commented on #528
Q2 is also solved. Thank you @louistrue

![image](https://user-images.githubusercontent.com/58511570/195665527-36dfdb94-8bca-4329-88c9-c0ecb418b9c5.png)

[2022-10-13 17:31] AndreasFleischmann2111 commented on #527
Ok, thank you fro your help. We will continue with a basic 3D geometry.

[2022-10-13 20:50] #527 closed

[2022-10-13 20:50] #528 closed

[2022-10-17 11:59] SvenAmiet commented on #525
Hello, @Moult @AngelVelezSosa

I had the same issue with a partner on a project.
It seems that they copy/pasted the predefinedType in the type window with a space or a return at the end of the line they copied and it made it export as "NOTDEFINED".
When you copy and paste it from the type window to a text file it shows multiline text (see attached gif )
Once I Modified the parameter to only one li

[2022-10-17 12:02] Moult commented on #525
Wow, that's a sneaky little issue, I'll be sure to check this out. I've also asked them for a sample file. I'll hear back this week and update this.

[2022-10-17 12:41] AngelVelezSosa commented on #525
Maybe the field shouldn't accept anything... part of the reason for the "..." is to avoid typos which weren't checked, so this isn't a new issue.  We kept it read/write as a courtesy.  Alternatively we need to verify the typed input.  Not an open source change unfortunately.

[2022-10-17 16:02] louistrue commented on #515
@parrela can you provide an email to send it? We dont upload Rvt to Git...

[2022-10-17 16:34] parrela commented on #515
andrew.parrella@autodesk.com

[2022-10-18 10:03] ArunSanthosh98 opened #529 "In Revit 2023 IfcSpace Qto_SpaceBaesQuantities NetFloorArea and others are not getting exported"
![IfcSpace_IFC4_Schema_Revit2023_Vs_Revit 2020](https://user-images.githubusercontent.com/110660510/196401960-fcbbecf7-ef5e-46e7-8115-6b7cd6ab5767.PNG)

[2022-10-18 14:41] sebortner commented on #529
We have the same problem with IFC4 from Revit 2022. No NetFloorArea is exported.

[2022-10-18 14:49] ArunSanthosh98 commented on #529
Yes in 2022 any of the Qto_SpaceBaesQuantities roots are not exported

[2022-10-18 15:01] Jelatho commented on #477
I seem to have a model from one of our clients that has the same issue. Is there a workaround for this issue?

[2022-10-19 09:40] ArunSanthosh98 commented on #529
![image](https://user-images.githubusercontent.com/110660510/196655810-7c25e0cd-2083-473b-a0ad-c4b6806c27a6.png)

[2022-10-19 09:42] ArunSanthosh98 commented on #529
@sebortner Do you find any solution for this
sebortner

[2022-10-19 11:29] SvenAmiet commented on #525
Actually, I was just saying that maybe it's not an issue of the ifc exporter but mostly an issue of what the field let's you input inside Revit.
In our case, the exporter worked as expected when we corrected what was input in the Revit property field.

What I meant was that if we want to reduce this from happening, we can either:
- Manage it on the user side: Make sure that the user does it well 1

[2022-10-21 03:40] ArunSanthosh98 commented on #529
![image](https://user-images.githubusercontent.com/110660510/197106119-79d85fbb-3a04-4739-ba76-61fe4204971f.png)
covering NetArea is not exporting

[2022-10-21 08:15] JohnFNordmark opened #530 "Openings in floors"
When we export with 2022.5.2 pre release Revit doesn't export openings in floors correct. We use the IFC 3x2 coordination view.
![2022 5 1](https://user-images.githubusercontent.com/8831026/197147496-5a781f53-85a8-40d2-b48c-ce0c41fa58ae.jpg)
![2022 5 2](https://user-images.githubusercontent.com/8831026/197147509-52a8845b-7450-4162-84ca-3c3ec03158b3.jpg)

[2022-10-21 13:20] WawanSolihin commented on #509
I will take a look at it today.

[2022-10-21 13:46] AndreeHub commented on #112
Did you manage to patch it, i read the recepies on the openshell website and there is nothing conecring colors and ifc fitting. What recepie did you use to patch it?

[2022-10-21 16:28] andydandy74 commented on #530
We noticed that, too. I think this started after 22.4.2, not entirely sure, though. Previously, this behaviour was limited to sloped slabs only.

[2022-10-24 01:52] Moult opened #531 "Properties seem to duplicate instead of inherit and override?"
If I have the following set in my user defined psets txt file:

[code]

Then if I have a Revit type with the `ConstructionMethod[Type]` value of "FOO" and the instance parameter `ConstructionMethod` of empty string "", then in IFC I see the "FOO" appear twice, once in a pset assigned to the type and duplicated again in a pset assigned to the occurrence.

If I have a Revit type with the `Constructi

[2022-10-24 02:16] AngelVelezSosa commented on #531
I think this is a specific issue when the instance value is empty and the type has a value.  I think there are two improvements here:
1. Don't rely on a text file.
2. For instance parameters, have options to inherit or not, if there is no type parameter and the value is empty.  If there is a type parameter, there should be no inheritance.

[2022-10-24 11:48] IO10101 commented on #514
I have the same issue with RVT22 for IfcSlab. In RVT21 and RVT23 it works for an IfcSlab without openings, where I get six BaseQuantities GrossArea, GrossVolume, NetArea, NetVolume, Perimeter, Width. If I add an opening I only get two BaseQuantites NetArea and NetVolume for RVT21 and only NetVolume for RVT23. Which BaseQuantites are supposed to be exported from Revit and are there any known issues

[2022-10-24 19:35] CyrilWaechter commented on #112
There is currently no recipe for this in official repository. It is possible to create one but no one yet (including myself) seems to be motivated enough to make it.

[2022-10-25 13:53] AimoNilsen opened #532 "Strange Level behavior when linking Revit made IFC back into a Revit project"
IFC version 23.1.1.0
Revit Versions: 2023.0.2 and 2022.1.3

When importing IFC file, Levels in the imported file are moved away from the model

For testing I made a simple project, Shared Coordinates set with Specify Coordinates at a Point.
Exporting to IFC using Shared Coordinates.
![image](https://user-images.githubusercontent.com/50450352/197791748-f63f966d-6eb5-4234-adbe-bed72bbb700c.png)

Imp

[2022-10-26 09:07] AimoNilsen commented on #532
If the Levels in the template are of type “8mm Head” Linking functions much better.
Tried with first just “Level 1” as “8mm Head” the with all Levels as “8mm Head”
When all Levels I Template are “8mm Head” it’s correct.
![image](https://user-images.githubusercontent.com/50450352/197984493-f1afbfd1-2a02-4408-a489-0da855151a52.png)

Then I tried with more Levels in the model and the IFC link is miss

[2022-10-26 09:32] AimoNilsen commented on #532
If the Levels in the Template use Elevation Bace “Project Base Point” The Levels Behave Correctly if I only have two levels in the IFC file.
![image](https://user-images.githubusercontent.com/50450352/197990617-c845098d-31f9-45d5-8074-5c67e361f3b8.png)

But If I have more Levels than two Level 1 is missing altogether.
![image](https://user-images.githubusercontent.com/50450352/197990163-09e9e85c-0

[2022-10-26 14:23] rdfeij commented on #402
@parrela Revit 2022 is not an option for me because the model we deliver to our client is Revit 2020. I have te deliver the Native File and the corresponding IFC file. Will this issue be solved for Revit 2020?

[2022-10-26 21:50] AngelVelezSosa commented on #402
We are not currently back-submitting fixes to Revit 2020.  But there is a workaround.  You can deliver the Revit 2020 model.  You can also temporarily upgrade the model to Revit 2022 or Revit 2023, and export the IFC file from there, and deliver that.  I would hope that your contract would allow that.

[2022-10-26 21:50] #402 closed

[2022-10-27 00:14] Moult opened #533 "Prevent grids from being duplicated on every storey"
Why are grids duplicated on every storey? This is not semantically correct, if I ask how many grids a project has or grid axes, I'd get the wrong number, not mention a huge duplication of elements (e.g. project with 20x20 grids x 50 storeys). Is there a way to tell Revit only to export it once? Logically the grids should be assigned to the building.

[2022-10-27 01:53] AngelVelezSosa commented on #533
This was done for ifc2x3 certification.  In Revit, grid lines are at the document level and are really surfaces of linear extrusion have vertical extents.  We don't have a concept of an IfcGrid.  In IFC, grids are 2D objects that are associated with a building story.  Are you suggesting only have the grid on one level, or have the grid referenced by multiple building storeys?

[2022-10-27 02:37] AngelVelezSosa commented on #533
I'm not sure if there is an IA that says that a grid must be associated to a level.  So it would be possible if a grid had no axes with clipped extents to associate it with the building or site, assuming no such restriction exists.  But:
1. If a grid does have vertical extents, then it must be associated with every building story it is visible on (not sure how else to do that).
2. Certification fi

[2022-10-27 02:37] AngelVelezSosa commented on #533
Unaligned, not unadorned.

[2022-10-27 02:50] Moult commented on #533
Referenced in spatial structure seems to be the appropriate method?

Indeed, it would be great for the user to control this. I know Revit doesn't have the concept of grids, but potentially Revit can group by grid axes vertical extents to determined IfcGrids, and then if one grouping is found, then the grids apply to the entire building, otherwise they are contained in the base storey determined by

[2022-10-27 06:28] Moult opened #534 "Wrong data type for CompressiveStrength"
The data type for the CompressiveStrength property should be a pressure measure and a single value.

Revit has it currently as a multiline tabular value: https://github.com/Autodesk/revit-ifc/blob/master/Install/Program%20Files%20to%20Install/IFC%20Shared%20Parameters-RevitIFCBuiltIn_ALL.txt#L1252

[2022-10-27 13:28] AngelVelezSosa commented on #534
We will check on this.  We have found bugs in the past in the files provided by bSI which is how this is generated.

[2022-10-27 18:07] parrela commented on #482
Sorry this took so long! This is fixed in development version. Will check others.

[2022-10-27 18:34] louistrue commented on #520
Doesn't  really make sense from my point of view because IfcMembers are usually used for linear elements. As described here: https://standards.buildingsmart.org/IFC/DEV/IFC4_3/RC1/HTML/schema/ifcsharedbldgelements/lexical/ifcmember.htm

Also, if you have a look at Predefined Types they are nearly all linear: https://standards.buildingsmart.org/IFC/DEV/IFC4_3/RC1/HTML/schema/ifcsharedbldgelements/l

[2022-10-28 00:46] Moult commented on #534
I also use the bSI generated files for the BlenderBIM Add-on and it seems to be correct there:

[code]

[2022-10-28 01:17] Moult commented on #497
@parrela can you confirm which version this is fixed on? I have consultants working on Revit 2021 with the latest Github release for 2021 facing this issue.

[2022-10-28 01:21] Moult commented on #515
I've also been experiencing missing GrossVolumes on various concrete beams (the beams are also exported as advanced BReps for some reason).

[2022-10-28 01:24] Moult commented on #361
I keep on getting these reports back from consultants and cost planners (unfortunately they are on Revit 2021). In this case NetVolume seems to be more correct, no idea where GrossVolume is coming from:

![2022-10-28-122313_998x265_scrot](https://user-images.githubusercontent.com/88302/198436957-c5fbccd3-5d62-46a1-b3e0-bf3aea528506.png)

[2022-10-28 01:32] AngelVelezSosa commented on #515
The beams are exported as advancedbreps in ifc2x3?

[2022-10-28 01:36] Moult opened #535 "Missing and inconsistent quantities for IfcOpeningElement"
We're starting to roll out IDSes across all consultants and picking up things like missing / inconsistent quantities for IfcOpeningElements:

[code]

[2022-10-28 01:44] Moult commented on #515
@AngelVelezSosa no, in IFC4. The advanced brep problem is already captured in #480.

[2022-10-28 03:11] WawanSolihin commented on #534
I look at the generated shared parameters. The problem of the data type is because of the same property name (= shared parameter name) occurs multiple times and in other instances they are actually property table value, e.g. Pset_MechanicalPanelInPlane.CompressiveStrength
The current mapping is not able to handle the above situation well and can only take one of the datatypes only, which unfortuna

[2022-10-28 03:31] Moult commented on #534
Awesome! That's really great to hear and that's a good solution for the future. Where can I download the shared params file for Revit 2023?

[2022-10-28 10:36] HL-code commented on #448
Issue is still present in latest 2022.5 version.
Attaching new sample file where Grid does not export.
They will export if a use "Reset Shared Coordinates" but we need the coordinates exported as is.

[22176 Vågåheimen R22_No Grids S.zip](https://github.com/Autodesk/revit-ifc/files/9887570/22176.Vagaheimen.R22_No.Grids.S.zip)

[2022-10-28 19:10] AngelVelezSosa commented on #515
Ok, so "for some reason" just means "I thought they'd be an extrusion"?

[2022-10-28 20:24] AngelVelezSosa commented on #534
@WawanSolihin we should update the files in the place that @Moult found them.

[2022-10-29 00:35] Moult commented on #515
Yep.

[2022-10-29 00:41] WawanSolihin commented on #534
It will be installed together with the open source installer for 23.1.1.0

Or you can get it here:
https://github.com/Autodesk/revit-ifc/blob/Release_23.x.x/Source/RevitIFCTools/IFC%20Shared%20Parameters-RevitIFCBuiltIn_ALL.txt
https://github.com/Autodesk/revit-ifc/blob/Release_23.x.x/Source/RevitIFCTools/IFC%20Shared%20Parameters-RevitIFCBuiltIn-Type_ALL.txt

[2022-10-29 02:29] Moult commented on #534
So I'm a little confused here, there's shared params in two locations: https://github.com/Autodesk/revit-ifc/tree/master/Source/RevitIFCTools and https://github.com/Autodesk/revit-ifc/tree/master/Install/Program%20Files%20to%20Install

Which is the appropriate location?

[2022-10-29 02:37] WawanSolihin commented on #534
They are supposed to be the same.
Presse note that the correct one is according to the link I sent earlier from branch 23.x.x.
The master branch version contains additional psets for the future support for IFC 4.3.

[2022-10-29 02:38] Moult commented on #534
Ah OK, I'm looking at the master branch, which I guess is still outdated?

[2022-10-29 02:44] Moult opened #536 "Types with material sets should not contain representation maps"
Initially reported in this thread: https://community.osarch.org/discussion/comment/13323/#Comment_13323

[2022-10-29 02:51] Moult opened #537 "Missing composite profile when material profile sets have multiple profiles"
Originally reported here, there's two issues here, one is why Revit thinks its a good idea in the first place to define a beam like this as such, as secondly the IFC is invalid due to the missing composite profile:

https://community.osarch.org/discussion/comment/13324/#Comment_13324

[2022-10-29 12:13] WawanSolihin commented on #534
I think the matter branch contains up-to-date one + IFC4.3 propertyset. But this is not final/released yet

[2022-10-29 22:20] AngelVelezSosa commented on #537
Revit isn't defining a beam as such.  There are at least two possibilities:
1. A user defined a beam as such.
2. A user defined a beam in the more expected way, but IFC export decided that it could export it as an extrusion not in the direction of the beam axis.
3. Some combination of user ingenuity that IFC export wasn't designed to handle well.
You'd be surprised how many cases are #3.

[2022-10-29 22:34] Moult commented on #537
Sure, for the first issue it's definitely unintuitive but not invalid. @theoryshaw can help provide the Revit source file for you to replicate the issue.

The second issue however would be the higher priority, where it's basically an invalid IFC.

[2022-10-29 23:16] theoryshaw commented on #537
Sure, here's the revit file... https://www.dropbox.com/s/psah3a0v5kgtlu7/101_w_33rd_st_structure.rvt?dl=0

[2022-10-31 11:57] geraka commented on #477
I had a similar issue with walls and floors with edited profiles. Openings were missing when exported with UFC2x3. With IFC4 it is OK.

[2022-11-01 01:41] Moult opened #538 "Revit seems to create multiple material profiles for normal columns"
Not sure what's going on here, structural consultants have been reporting that for simple rectangular structural columns there are multiple material profiles which makes no sense:

![2022-11-01-123919_1563x282_scrot](https://user-images.githubusercontent.com/88302/199140185-bfd416e4-3418-4d08-818a-bbfda37a73d8.png)

[2022-11-01 13:17] croesFV opened #539 "Revit 2022 IFC 2x3 dont give the proper geometry compared to Revit, IFC4 (works)"
We have a Mass that we join with a Wall to create a wall opening. As long as the different Masses component are different in heightit works, but as soon as the top of the Masses are equal. Then it removes to much of the wall. Is this a known case?

![IFC](https://user-images.githubusercontent.com/46350131/199243477-4adf80ee-9098-40cc-9ec7-fccc818854d3.png)
![Revit](https://user-images.githubuserco

[2022-11-01 15:19] parrela commented on #497
@Moult I find it is fixed in 2023 but not 2022.

[2022-11-01 21:53] Moult commented on #497
OK :) Unfortunately I do not have 2023 to test but let's close this assuming it's fixed!

[2022-11-01 21:53] #497 closed

[2022-11-02 10:06] croesFV commented on #539
We done a test in Revit 2023 with exporter version v.23.1.1.0 there is works perfect.

[2022-11-02 11:45] josols opened #540 "Access to IFC Export Configurations"
We have an issue where we programmatically want to select a custom export config saved in a Revit file. It does not work as intended because the enumerator only contains the standard configs after opening the Revit file, UNTIL you actually open the IFC Export dialog box in Revit. Then afterwards it is accessible . This is a hindrance for mass exporting IFC files through Dynamo/Python/Revit Batch p

[2022-11-02 13:09] AngelVelezSosa commented on #539
I'll mark it as closed, then.

[2022-11-02 13:09] #539 closed

[2022-11-03 06:34] croesFV commented on #539
Its not closed, we still have many projects in Revit 2022 (BIM-protocol) long term projects.
It was more a suggestion, that it works in Revit 2023, but not in Revit 2022, maybe you could look into the code and spot a difference in exporting.

[2022-11-03 14:35] jejonker commented on #509
Hello everyone,

We ran into this problem also, I've tested multiple versions of the exporter (Revit 2022 for now) and we're getting this strange results from version 2022.5.1.0 and newer...

So we've downgraded to this version again for the time beeing. Hope that it can be resolved or otherwise what the motivation is if this is an delibarate change...

[2022-11-03 15:40] AngelVelezSosa commented on #509
22.5.2 was a point release to solve a particular crash; it shouldn't have had odd side effects but apparently it did.  We will definitely look into this for the next official update.

[2022-11-03 15:56] jejonker commented on #509
Ah... not on purpose, good to hear. We'll manage in the meantime with version 2022.5.0.0. Thanx for the reply.

[2022-11-07 07:36] purno030 commented on #458
i have got the same issue, is there already a solution available? seems the problem started when i updated the IFC exporter addin via Autodesk Desktop app. Revit 2022.1.3 with exporter 22.5.1.0

[2022-11-07 11:08] MikeRCAD opened #541 "Revit 2023 IfcExportAs and Type parameter ignored"
In Revit 2023 there are new builtin IFC export parameters introduced.
Most can be easily updated with API or dynamo, however instance IfcExportAs in Groups can't be automatically updated.
For example, some rooms / area's need to be excluded from a IFC, now we do this by means of a KeySchedule (quick and reliable) and API based on workset visibility.

As now the IfcExportAs is completely ignored by

[2022-11-07 13:43] AndreeHub commented on #373
In the repository, there is a shared parameter file .
https://github.com/Autodesk/revit-ifc/blob/master/Source/RevitIFCTools/IFC%20Shared%20Parameters-RevitIFCBuiltIn_ALL_grouped.txt

inside this file is a shared paremter IfcOverrideSingleMaterial. You can attach this paremter to fittings, then write in the name of the material that you want to has that color. So you should prepare a material with

[2022-11-07 13:46] leefsmp commented on #380
Could we get a quick "official" comment on that please? The issue was logged a year ago at time of my writtng. It was tagged as "problem" by one of the maintainer. Is it simply not doable to link an IFC from API or is there another way to proceed? This repo is advertised in its readme as "This contains the source code for Link IFC, IFC export and the IFC export UI"

[2022-11-07 14:44] AndreeHub commented on #112
There is a shared parameter in the ifc edporter called IfcSingleMaterialOverride ( https://github.com/Autodesk/revit-ifc/blob/master/Source/RevitIFCTools/IFC%20Shared%20Parameters-RevitIFCBuiltIn_ALL_grouped.txt)
You can asign this parameter to the fittings, then write in the name of the material for which you wish the color to be added.
This implies that you already have the materials that corres

[2022-11-07 15:45] AngelVelezSosa commented on #380
It is possible to link an IFC from API since this is the code that Revit uses to link IFC (we don't have a different internal way to do it).  I think any code that does so probably has to call _this_ code as a start.  But, i.e., Navisworks and BIM360 process IFC files by using the API here to create it.
If you wanted to make your _own_ link, you could also do that, but obviously would be more work

[2022-11-07 16:18] AngelVelezSosa commented on #458
There is a 22.5.2 version - is that better?  I know it fixed a specific bug.

[2022-11-07 16:32] leefsmp commented on #380
Thanks, but is there a proper snipper somewhere that illustrates that in details? What I'm looking for is to create a new document dynamically from API and link an ifc that is on disk, I dont want to save any file automatically. I'm not able to find such sample so far. I'm looking at the `CreateFromIFC` and I can't figure out what is the `revitLinkedFilePath` parameter supposed to do: "The path of

[2022-11-09 20:06] HenkMolhoek opened #543 "IFC Exports 2022 and 2023 change Uniformat Classification in to Uniformat (followed by the value in the assembly code)"
When exporting to IFC, the assembly code is converted to the Uniformat Classification.
Since update 2022.5.1.0 and the release of the exporter for 2023, this has been changed to Uniformat followed by the value in the assembly code.
For example if the Assembly Code = 21.21 the Uniformat 21.21 instead of Uniformat Classification.

Befor 2022.5.1.0
#154=IFCCLASSIFICATION('https://www.csiresources.org

[2022-11-10 00:53] Moult opened #544 "Revit has missing material data on slab landing types"
Regular slab types have a material, but this material seems to be missing for stair landing types.

[2022-11-10 03:59] Moult commented on #161
2 years later I'm also coming across this issue, I can't seem to find any pattern to it yet. Here is one such portion of the model, regular steel beam, with a steel material.

![image](https://user-images.githubusercontent.com/88302/200997219-2625fef3-28f8-414f-9f0f-839fcda5919e.png)

Here I've isolated all the members which are missing materials.

![image](https://user-images.githubusercontent.co